<template>
  <div class="view-tab-list">
    <button type="button" class="view-tab-item" :class="{'active' : isGridView}" @click="viewChange(true)">
      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="8" height="8" fill="#D8D8D8" />
        <rect y="12" width="8" height="8" fill="#D8D8D8" />
        <rect x="12" width="8" height="8" fill="#D8D8D8" />
        <rect x="12" y="12" width="8" height="8" fill="#D8D8D8" />
      </svg>
    </button>
    <button type="button" class="view-tab-item ml15" :class="{'active' : !isGridView}" @click="viewChange(false)">
      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="20" height="8" fill="#D8D8D8" />
        <rect y="12" width="20" height="8" fill="#D8D8D8" />
      </svg>
    </button>
  </div>
</template>

<script>
export default {
  name: 'ViewToggle',
  data () {
    return {
      isGridView: {
        type: Boolean,
        default: true
      }
    }
  },
  created () {
    this.$nextTick(() => {
      if (window.matchMedia('(max-width: 767px)').matches) {
        this.viewChange(true);
      }
      window.addEventListener('resize', () => {
        if (window.matchMedia('(max-width: 767px)').matches) {
          this.viewChange(true);
        }
      });
    });
  },
  methods: {
    viewChange (isGrid) {
      this.isGridView = isGrid;
      return this.$emit('viewChange', this.isGridView);
    }
  }
}
</script>

<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$gray-666666: color(gray-666666);

.view-tab-list {
  display: flex;
  align-items: center;

  button {
    border: 0 none;
    padding: 0;
    background-color: transparent;
    display: inline-flex;

    svg {
      rect {
        transition: all 0.5s ease 0s;
      }
    }

    &.active,
    &:hover {
      background-color: transparent;

      svg {
        rect {
          fill: $gray-666666;
        }
      }
    }
  }
}
</style>
