<template>
  <div id="cms-page">
    <section class="section">
      <div class="container">
        <breadcrumbs
          class="mb30"
          :routes="[{name: 'PHOENIX', route_link: '/'}]"
          :active-route="cmsPageContent.title"
        />
        <div class="shaded-box">
          <h1 class="page-title">
            {{ cmsPageContent.title }}
          </h1>
          <div v-html="cmsPageContent.content" />
          <div class="align-center mt50">
            <router-link to="/faqs" class="let-us-help-btn">
              <i class="material-icons">
                info
              </i> &nbsp;
              <span>{{ $t('Help Center') }}</span>
              <i class="material-icons">
                keyboard_arrow_right
              </i>
            </router-link>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import CmsPage from '@vue-storefront/core/pages/CmsPage'
import Breadcrumbs from '../components/core/Breadcrumbs.vue'

export default {
  components: {
    Breadcrumbs
  },
  computed: {
    cmsPageContent () {
      return this.$store.state.cmsPage.current
    }
  },
  mixins: [CmsPage]
}
</script>
