<template>
  <div id="product" itemscope itemtype="http://schema.org/Product">
    <div class="nosto_page_type" style="display:none">
      product
    </div>
    <div class="nosto_product" style="display:none">
      <span class="product_id">{{ getCurrentProduct.sku }}</span>
      <span class="name">{{ getCurrentProduct.name | htmlDecode }}</span>
      <span class="url">{{ productLink }}</span>
      <span class="image_url">{{ getOfflineImage.src }}</span>
      <span class="availability">{{ structuredData.availability }}</span>
      <span class="price" v-if="getCurrentProduct.special_price">{{ getCurrentProduct.special_price }}</span>
      <span class="price" v-if="!getCurrentProduct.special_price">{{ getCurrentProduct.regular_price }}</span>
      <span class="list_price">{{ getCurrentProduct.regular_price }}</span>
      <span class="price_currency_code">THB</span>
      <span class="description" v-if="getCurrentProduct.description">{{ getCurrentProduct.description | htmlDecode }}</span>
      <span class="rating_value">{{ getRatings }}</span>
      <span class="review_count">{{ noOfReviews }}</span>
      <span class="brand" v-if="getBrandname">{{ getBrandname }}</span>
      <span class="alternate_image_url" v-if="getCurrentProduct.media_gallery.length > 1 && image.image != getCurrentProduct.image" v-for="image in getCurrentProduct.media_gallery">{{ getTheImagePath(image.image) | htmlDecode }}</span>
      <product-category-path />
      <span class="custom_fields">
        <span class="author" v-if="getAuthorname">{{ getAuthorname }}</span>
        <span class="release_date" v-if="getCurrentProduct.created_at">{{ getCurrentProduct.created_at | date('DD-MM-YYYY') }}</span>
      </span>
    </div>
    <section class="px20 product-top-section">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <breadcrumbs
              class="py25 hidden-xs"
            />
          </div>
        </div>
        <section class="row between-xs">
          <div class="col-xs-12 col-md-6  middle-xs image">
            <div class="data product-data-sm">
              <h1
                class="mb10 mt0 f-s-22 weight-600 cl-mine-shaft product-name"
                data-testid="productName"
                itemprop="name"
              >
                {{ getCurrentProduct.name | htmlDecode }}
              </h1>
              <div class="f-s-14 cl-gray-666666 author-data" v-if="getAuthorname">
                {{ $t('Author Name:') }}
                <a href="#">{{ getAuthorname }}</a>
                <span class="px5">|</span>
                {{ $t('Release date:') }} {{ getCurrentProduct.created_at | date('DD-MM-YYYY') }}
              </div>
              <div class="product-review middle-xs pt15 pb20">
                <div class="star-row">
                  <span v-for="index in 5" :key="index" class="star" :class="(index <= getRatings) ? 'checked': ''" />
                </div>
                <span class="cl-gray-888888 f-s-14">{{ noOfReviews }} {{ $t("Customer Review(s)") }}</span>
              </div>
            </div>
            <no-ssr>
              <product-thumb-gallery
                :gallery="getProductGallery"
                :product-name="getCurrentProduct.name"
                :product="getCurrentProduct"
                @loaded="carouselLoaded = true"
              />
            </no-ssr>
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="p30 data bg-cl-white brdr-1 brdr-cl-gray-EEEEEE ">
              <div class="product-data-lg">
                <h1
                  class="mb10 mt0 f-s-22 weight-600 cl-mine-shaft product-name"
                  data-testid="productName"
                  itemprop="name"
                >
                  {{ getCurrentProduct.name | htmlDecode }}
                </h1>
                <div class="f-s-14 cl-gray-666666 author-data" v-if="getAuthorname">
                  {{ $t('Author Name:') }}
                  <a href="#">{{ getAuthorname }}</a>
                  <span class="px5">|</span>
                </div>
                <div class="f-s-14 cl-gray-666666 author-data">
                  {{ $t('Release date:') }} {{ getCurrentProduct.created_at | date('DD-MM-YYYY') }}
                </div>
                <div class="product-review middle-xs pt15 pb20">
                  <div class="star-row">
                    <span v-for="index in 5" :key="index" class="star" :class="(index <= getRatings) ? 'checked': ''" />
                  </div>
                  <span class="cl-gray-888888 f-s-14">{{ noOfReviews }} {{ $t("Customer Review(s)") }}</span>
                </div>
              </div>
              <div class="description f-s-12 cl-gray-666666 weight-500" v-html="getCurrentProduct.short_description" />
              <div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="product-offers">
                <meta itemprop="priceCurrency" :content="$store.state.storeView.i18n.currencyCode">
                <meta itemprop="price" :content="parseFloat(getCurrentProduct.price_incl_tax).toFixed(2)">
                <meta itemprop="availability" :content="structuredData.availability">
                <meta itemprop="url" :content="getCurrentProduct.url_path">
                <product-price
                  class="mt30 mb25"
                  v-if="getCurrentProduct.type_id !== 'grouped'"
                  :product="getCurrentProduct"
                  :custom-options="getCurrentCustomOptions"
                />
                <div class="cl-primary variants" v-if="getCurrentProduct.type_id =='configurable'">
                  <div
                    class="error"
                    v-if="getCurrentProduct.errors && Object.keys(getCurrentProduct.errors).length > 0"
                  >
                    {{ getCurrentProduct.errors | formatProductMessages }}
                  </div>
                  <div class="h5" v-for="option in getProductOptions" :key="option.id">
                    <div class="variants-label" data-testid="variantsLabel">
                      {{ option.label }}
                      <span
                        class="weight-700"
                      >{{ getOptionLabel(option) }}</span>
                    </div>
                    <div class="row top-xs m0 pt15 pb40 variants-wrapper">
                      <div v-if="option.label == 'Color'">
                        <color-selector
                          v-for="filter in getAvailableFilters[option.attribute_code]"
                          :key="filter.id"
                          :variant="filter"
                          :selected-filters="getSelectedFilters"
                          @change="changeFilter"
                        />
                      </div>
                      <div class="sizes" v-else-if="option.label == 'Size'">
                        <size-selector
                          class="mr10 mb10"
                          v-for="filter in getAvailableFilters[option.attribute_code]"
                          :key="filter.id"
                          :variant="filter"
                          :selected-filters="getSelectedFilters"
                          @change="changeFilter"
                        />
                      </div>
                      <div :class="option.attribute_code" v-else>
                        <generic-selector
                          class="mr10 mb10"
                          v-for="filter in getAvailableFilters[option.attribute_code]"
                          :key="filter.id"
                          :variant="filter"
                          :selected-filters="getSelectedFilters"
                          @change="changeFilter"
                        />
                      </div>
                      <span
                        v-if="option.label == 'Size'"
                        @click="openSizeGuide"
                        class="p0 ml30 inline-flex middle-xs no-underline h5 action size-guide pointer cl-secondary"
                      >
                        <i class="pr5 material-icons">accessibility</i>
                        <span>{{ $t('Size guide') }}</span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="reward-btn mb20">
                <button class="brdr-1 brdr-cl-yellow-F5BE77 bg-cl-yellow-FEFBF7 cl-yellow-F5BE77 f-s-12">
                  <img src="/assets/reward-hand.svg" alt="">
                  <span>
                    You Get {{ getRewardpoints.result }} reward points
                  </span>
                </button>
                <button class="brdr-1 brdr-cl-blue-76A3E4 bg-cl-blue-F8FAFE cl-blue-76A3E4 f-s-12">
                  <img src="/assets/delivery-time.svg" alt="">
                  <span>
                    Get Deliverd by Tomorow
                  </span>
                  <img src="/assets/blue-tooltip.svg" alt="">
                </button>
              </div>
              <product-links
                v-if="getCurrentProduct.type_id =='grouped'"
                :products="getCurrentProduct.product_links"
              />
              <product-bundle-options
                v-if="getCurrentProduct.bundle_options && getCurrentProduct.bundle_options.length > 0"
                :product="getCurrentProduct"
              />
              <product-custom-options
                v-else-if="getCurrentProduct.custom_options && getCurrentProduct.custom_options.length > 0"
                :product="getCurrentProduct"
              />
              <product-quantity
                class="row m0 mb20"
                v-if="getCurrentProduct.type_id !== 'grouped' && getCurrentProduct.type_id !== 'bundle'"
                v-model="getCurrentProduct.qty"
                :max-quantity="maxQuantity"
                :loading="isStockInfoLoading"
                :is-simple-or-configurable="isSimpleOrConfigurable"
                :show-quantity="manageQuantity"
                :check-max-quantity="manageQuantity"
                @error="handleQuantityError"
              />
              <div class="row m0 cart-with-price ">
                <add-to-cart-with-price
                  :product="getCurrentProduct"
                  :key="getCurrentProduct.id"
                  @click.native="openMicrocart"
                />
                <button class="btn-outlined" @click="$bus.$emit('read-sample-popup', getCurrentProduct)" v-if="getCurrentProduct.read_sample">
                  {{ $t('Read sample') }}
                </button>
              </div>
              <div
                class="mb20 uppercase cl-secondary display-none"
                itemprop="sku"
                :content="getCurrentProduct.sku"
              >
                {{ $t('SKU: {sku}', { sku: getCurrentProduct.sku }) }}
              </div>
            </div>
          </div>
        </section>
      </div>
    </section>
    <section class="container my30 cl-accent details product-info">
      <div class="shaded-box">
        <div class="acc-product-info" :class="accordionClasses">
          <h2 class="h3 m0 serif lh20 details-title accordion-header" :class="accordionHeaderArrow" @click="toggleAccordion">
            {{ $t('Product Info') }}
          </h2>
          <div class="accordion-body">
            <div class="details-wrapper">
              <ul class="attributes p0 pt5 m0">
                <product-attribute
                  :key="attr.attribute_code"
                  v-for="attr in getCustomAttributes"
                  :product="getCurrentProduct"
                  :attribute="attr"
                  empty-placeholder="N/A"
                />
              </ul>
              <div class="description pt30" itemprop="description" v-html="getCurrentProduct.description" />
            </div>
          </div>
        </div>
        <lazy-hydrate when-idle>
          <add-reviews
            :product-name="getOriginalProduct.name"
            :product-id="getOriginalProduct.id"
            v-show="isOnline"
          />
        </lazy-hydrate>
        <lazy-hydrate when-idle>
          <reviews-list
            :per-page="4"
            :items="reviews"
            :product-name="getCurrentProduct.name"
          />
        </lazy-hydrate>
      </div>
    </section>
    <lazy-hydrate class="shaded-box" when-idle>
      <related-products type="related" :heading="$t('Similar Products')" :product-border-enabled="false" :limit="8" :slider-id="'related-products'" :pagination-enabled="false" />
    </lazy-hydrate>
    <lazy-hydrate class="shaded-box" when-idle>
      <recently-viewed :heading="$t('Recently Viewed')" :product-border-enabled="false" :limit="8" :slider-id="'recently-viewed-products'" :pagination-enabled="false" />
    </lazy-hydrate>
    <!-- <SizeGuide /> -->
  </div>
</template>

<script>
import i18n from '@vue-storefront/i18n'
import VueOfflineMixin from 'vue-offline/mixin'
import config from 'config'
import RelatedProducts from 'theme/components/core/blocks/Product/Related.vue'
import RecentlyViewed from 'theme/components/core/blocks/Product/RecentlyViewed.vue'
import AddReviews from 'theme/components/core/blocks/Reviews/Reviews.vue'
import GenericSelector from 'theme/components/core/GenericSelector'
import ColorSelector from 'theme/components/core/ColorSelector.vue'
import SizeSelector from 'theme/components/core/SizeSelector.vue'
import Breadcrumbs from 'theme/components/core/Breadcrumbs.vue'
import ProductAttribute from 'theme/components/core/ProductAttribute.vue'
import ProductQuantity from 'theme/components/core/ProductQuantity.vue'
import ProductLinks from 'theme/components/core/ProductLinks.vue'
import ProductCustomOptions from 'theme/components/core/ProductCustomOptions.vue'
import ProductBundleOptions from 'theme/components/core/ProductBundleOptions.vue'
import Spinner from 'theme/components/core/Spinner'
// import PromotedOffers from 'theme/components/theme/blocks/PromotedOffers/PromotedOffers'
import focusClean from 'theme/components/theme/directives/focusClean'
import BaseInputNumber from 'theme/components/core/blocks/Form/BaseInputNumber'
// import SizeGuide from 'theme/components/core/blocks/Product/SizeGuide'
// import AddToWishlist from 'theme/components/core/blocks/Wishlist/AddToWishlist'
// import AddToCompare from 'theme/components/core/blocks/Compare/AddToCompare'
import { mapGetters } from 'vuex'
import LazyHydrate from 'vue-lazy-hydration'
import { ProductOption } from '@vue-storefront/core/modules/catalog/components/ProductOption.ts'
import { getAvailableFiltersByProduct, getSelectedFiltersByProduct } from '@vue-storefront/core/modules/catalog/helpers/filters'
import { isOptionAvailableAsync } from '@vue-storefront/core/modules/catalog/helpers/index'
import { localizedRoute, currentStoreView } from '@vue-storefront/core/lib/multistore'
import { htmlDecode } from '@vue-storefront/core/filters'
import { ReviewModule } from '@vue-storefront/core/modules/review'
import { RecentlyViewedModule } from '@vue-storefront/core/modules/recently-viewed'
import { registerModule, isModuleRegistered } from '@vue-storefront/core/lib/modules'
import { onlineHelper, isServer } from '@vue-storefront/core/helpers'
import { catalogHooksExecutors } from '@vue-storefront/core/modules/catalog-next/hooks'
import ProductPrice from 'theme/components/core/ProductPrice.vue'
// import ProductListingSlider from 'theme/components/core/blocks/Product/ProductListingSlider'
import AddToCartWithPrice from 'theme/components/core/AddToCartWithPrice'
import ProductThumbGallery from 'theme/components/core/ProductThumbGallery'
import ReviewsList from 'theme/components/theme/blocks/Reviews/ReviewsList'
import { Reviews } from '@vue-storefront/core/modules/review/components/Reviews'
import NoSSR from 'vue-no-ssr'
import { formatProductLink } from '@vue-storefront/core/modules/url/helpers'
import ProductCategoryPath from 'theme/components/core/ProductCategoryPath.vue'

export default {
  components: {
    // AddToCompare,
    // AddToWishlist,
    Breadcrumbs,
    ColorSelector,
    GenericSelector,
    ProductAttribute,
    ProductBundleOptions,
    ProductCustomOptions,
    ProductLinks,
    // PromotedOffers,
    RelatedProducts,
    RecentlyViewed,
    AddReviews,
    SizeSelector,
    // SizeGuide,
    LazyHydrate,
    ProductQuantity,
    ProductPrice,
    // ProductListingSlider,
    AddToCartWithPrice,
    ProductThumbGallery,
    ReviewsList,
    'no-ssr': NoSSR,
    ProductCategoryPath
  },
  mixins: [ProductOption, Reviews],
  directives: { focusClean },
  beforeCreate () {
    registerModule(ReviewModule)
    registerModule(RecentlyViewedModule)
  },
  data () {
    return {
      detailsOpen: false,
      maxQuantity: 0,
      quantityError: false,
      isStockInfoLoading: false,
      hasAttributesLoaded: false,
      manageQuantity: true,
      isOpen: false,
      carouselLoaded: false,
      showSampleDataModal: false,
      rewards: []
    }
  },
  async created  () {
    await this.$store.dispatch('productRewardPoints/list', this.getCurrentProduct.id);
  },
  computed: {
    ...mapGetters({
      getCurrentCategory: 'category-next/getCurrentCategory',
      getCurrentProduct: 'product/getCurrentProduct',
      getProductGallery: 'product/getProductGallery',
      getCurrentProductConfiguration: 'product/getCurrentProductConfiguration',
      getOriginalProduct: 'product/getOriginalProduct',
      attributesByCode: 'attribute/attributeListByCode',
      getCurrentCustomOptions: 'product/getCurrentCustomOptions'
    }),
    getRewardpoints () {
      return this.$store.getters['productRewardPoints/getProductRewards'];
    },
    getOptionLabel () {
      return (option) => {
        const configName = option.attribute_code ? option.attribute_code : option.label.toLowerCase()
        return this.getCurrentProductConfiguration[configName] ? this.getCurrentProductConfiguration[configName].label : configName
      }
    },
    isOnline (value) {
      return onlineHelper.isOnline
    },
    noOfReviews () {
      return (this.$store.state.review.items.items) ? this.$store.state.review.items.items.length : 0
    },
    getRatings () {
      let ratings = 0;
      let i;
      let item;
      let reviews = this.$store.state.review.items.items;
      if (reviews) {
        for (i in reviews) {
          let item = reviews[i];

          if (item.ratings[0]) {
            ratings += parseInt(item.ratings[0].value);
          }
          // let item = reviews[i];
          // let val = item.ratings[0]['value'];
          // ratings += parseInt(val);
        }
      }

      return (reviews && reviews.length && ratings > 0) ? Math.round(ratings / reviews.length) : 0;
    },
    getAuthorname () {
      if (this.getCurrentProduct.author) {
        let authordata = this.attributesByCode.author.options;
        let author = authordata.find(auther => parseInt(auther.value) === parseInt(this.getCurrentProduct.author))
        return author.label
      }
      return '';
    },
    getBrandname () {
      if (this.getCurrentProduct.product_brand) {
        let branddata = this.attributesByCode.product_brand.options;
        let product_brand = branddata.find(product_brand => parseInt(product_brand.value) === parseInt(this.getCurrentProduct.product_brand))
        return product_brand.label
      }
      return '';
    },
    structuredData () {
      return {
        availability: this.getCurrentProduct.stock && this.getCurrentProduct.stock.is_in_stock ? 'InStock' : 'OutOfStock'
      }
    },
    getProductOptions () {
      if (
        this.getCurrentProduct.errors &&
        Object.keys(this.getCurrentProduct.errors).length &&
        Object.keys(this.getCurrentProductConfiguration).length
      ) {
        return []
      }
      return this.getCurrentProduct.configurable_options
    },
    getOfflineImage () {
      return {
        src: this.getThumbnail(this.getCurrentProduct.image, config.products.thumbnails.width, config.products.thumbnails.height),
        error: this.getThumbnail(this.getCurrentProduct.image, config.products.thumbnails.width, config.products.thumbnails.height),
        loading: this.getThumbnail(this.getCurrentProduct.image, config.products.thumbnails.width, config.products.thumbnails.height)
      }
    },
    getCustomAttributes () {
      return Object.values(this.attributesByCode).filter(a => {
        return a.is_visible && a.is_user_defined && (parseInt(a.is_visible_on_front) || a.is_visible_on_front === true) && this.getCurrentProduct[a.attribute_code]
      }).sort((a, b) => { return a.attribute_id > b.attribute_id })
    },
    getAvailableFilters () {
      return getAvailableFiltersByProduct(this.getCurrentProduct)
    },
    getSelectedFilters () {
      return getSelectedFiltersByProduct(this.getCurrentProduct, this.getCurrentProductConfiguration)
    },
    isSimpleOrConfigurable () {
      return ['simple', 'configurable'].includes(this.getCurrentProduct.type_id)
    },
    isAddToCartDisabled () {
      if (this.quantityError || this.isStockInfoLoading) {
        return false
      }

      return this.isOnline && !this.maxQuantity && this.manageQuantity && this.isSimpleOrConfigurable
    },
    accordionClasses () {
      return {
        'is-closed': !this.isOpen
      };
    },
    accordionHeaderArrow () {
      return {
        'plus': !this.isOpen,
        'minus': this.isOpen
      }
    },
    productLink () {
      return formatProductLink(this.getCurrentProduct, currentStoreView().storeCode)
    }
  },
  async mounted () {
    await this.$store.dispatch('recently-viewed/addItem', this.getCurrentProduct)
  },
  async asyncData ({ store, route, context }) {
    if (context) context.output.cacheTags.add('product')
    const product = await store.dispatch('product/loadProduct', { parentSku: route.params.parentSku, childSku: route && route.params && route.params.childSku ? route.params.childSku : null })
    const loadBreadcrumbsPromise = store.dispatch('product/loadProductBreadcrumbs', { product })
    if (isServer) await loadBreadcrumbsPromise
    catalogHooksExecutors.productPageVisited(product)
  },
  beforeRouteEnter (to, from, next) {
    if (isServer) {
      next()
    } else {
      next((vm) => {
        vm.getQuantity()
      })
    }
  },
  watch: {
    isOnline: {
      handler (isOnline) {
        if (isOnline) {
          this.getQuantity()
        }
      }
    }
  },
  methods: {
    getTheImagePath (img) {
      return this.getThumbnail(img, config.products.thumbnails.width, config.products.thumbnails.height)
    },
    notifyOutStock () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'error',
        message: this.$t(
          'The product is out of stock and cannot be added to the cart!'
        ),
        action1: { label: this.$t('OK') }
      })
    },
    notifyWrongAttributes () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'warning',
        message: this.$t(
          'No such configuration for the product. Please do choose another combination of attributes.'
        ),
        action1: { label: this.$t('OK') }
      })
    },
    changeFilter (variant) {
      this.$bus.$emit(
        'filter-changed-product',
        Object.assign({ attribute_code: variant.type }, variant)
      )
      this.getQuantity()
    },
    openSizeGuide () {
      this.$bus.$emit('modal-show', 'modal-sizeguide')
    },
    isOptionAvailable (option) { // check if the option is available
      const currentConfig = Object.assign({}, this.getCurrentProductConfiguration)
      currentConfig[option.type] = option
      return isOptionAvailableAsync(this.$store, { product: this.getCurrentProduct, configuration: currentConfig })
    },
    async getQuantity () {
      if (this.isStockInfoLoading) return // stock info is already loading
      this.isStockInfoLoading = true
      try {
        const res = await this.$store.dispatch('stock/check', {
          product: this.getCurrentProduct,
          qty: this.getCurrentProduct.qty
        })

        this.manageQuantity = res.isManageStock
        this.maxQuantity = res.isManageStock ? res.qty : null
      } finally {
        this.isStockInfoLoading = false
      }
    },
    handleQuantityError (error) {
      this.quantityError = error
    },
    toggleAccordion () {
      this.isOpen = !this.isOpen;
    },
    openMicrocart () {
      this.$store.dispatch('ui/toggleMicrocart');
    }
  },
  metaInfo () {
    const storeView = currentStoreView()
    return {
      link: [
        { rel: 'amphtml',
          href: this.$router.resolve(localizedRoute({
            name: this.getCurrentProduct.type_id + '-product-amp',
            params: {
              parentSku: this.getCurrentProduct.parentSku ? this.getCurrentProduct.parentSku : this.getCurrentProduct.sku,
              slug: this.getCurrentProduct.slug,
              childSku: this.getCurrentProduct.sku
            }
          }, storeView.storeCode)).href
        }
      ],
      title: htmlDecode(this.getCurrentProduct.meta_title || this.getCurrentProduct.name),
      meta: this.getCurrentProduct.meta_description ? [{ vmid: 'description', name: 'description', content: htmlDecode(this.getCurrentProduct.meta_description) }] : []
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-primary: color(primary);
$color-tertiary: color(tertiary);
$color-secondary: color(secondary);
$color-white: color(white);
$cyan-67B6C3: color(cyan-67B6C3);
$bg-secondary: color(secondary, $colors-background);

.product {
  &__add-to-compare {
    display: none;
    @media (min-width: 767px) {
      display: block;
    }
  }
}

.breadcrumbs {
  display: flex;
  align-items: center;
  @media (max-width: 767px) {
    margin: 15px 0;
    padding: 15px 0 0 15px;
  }
}

.error {
  color: red;
  font-weight: bold;
  padding-bottom: 15px;
}
.data {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  .product-name{
    line-height: 27px;
  }
  .author-data{
    a{
      text-decoration: underline;
    }
  }
  .product-review{
    display: flex;
    .star-row{
      display: flex;
      span{
        width: 18px;
        height: 17px;
        background: url(/assets/star2.png) no-repeat;
        margin-right: 2px;
        &.checked{
          background: url(/assets/star1.png) no-repeat;
        }
      }
    }
    > span{
      margin-left: 15px;
      margin-top: 3px;
    }
  }
  .description{
    line-height: 22px;
  }
  .reward-btn{
    display: flex;

    @media (min-width: 768px) and (max-width: 991px) {
      flex-direction: column;
    }

    button{
      border-radius: 4px;
      display: flex;
      align-items: center;
      padding:9px 15px;
      margin-right: 15px;
      font-weight: 600;

      @media (min-width: 768px) and (max-width: 991px) {
        margin-right: 0;
        margin-bottom: 10px;
      }

      & > img {
        & ~ * {
          padding-left: 15px;
        }
      }
    }
  }
  @media (max-width: 767px) {
    border-bottom: 1px solid $bg-secondary;
  }
}

.image {
  @media (max-width: 1023px) {
    margin-bottom: 20px;
  }
}

.product-name {
  @media (max-width: 767px) {
    font-size: 36px;
  }
}

.variants-label {
  @media (max-width: 767px) {
    font-size: 14px;
  }
}

.variants-wrapper {
  @media (max-width: 767px) {
    padding-bottom: 30px;
  }

  .sizes {
    @media (max-width: 767px) {
      width: 100%;
    }
  }

  .size-guide {
    height: 40px;
    @media (max-width: 767px) {
      width: 100%;
      margin-left: 0;
    }
  }
}

.product-top-section {
  @media (max-width: 767px) {
    padding: 0;
    background-color: $color-white;
  }
}

.add-to-buttons {
  @media (max-width: 767px) {
    padding-top: 30px;
    margin-bottom: 40px;
  }
}

.details-wrapper {
  @media (max-width: 767px) {
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
    font-size: 14px;
    margin: 20px auto;
  }

  &--open {
    max-height: none;
  }
}

.action {
  &:hover {
    color: $color-tertiary;
  }
}

.attributes {
  list-style-type: none;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}

.fade-enter,
.fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.product-image {
  mix-blend-mode: multiply;
  width: 460px;
}

.web-share {
  float: right;
}
</style>
<style lang="scss">
.accordion-header {
  cursor: pointer;
  margin-bottom: 0;
  margin-top: -1px;
}

.accordion-body   {
  padding: 0;
  max-height: 2000px;
  overflow: hidden;
  transition: 1s ease all;
}

.is-closed .accordion-body {
  max-height: 0;
  transition: 0.5s ease all;
}
.product-data-sm{ display: none;}

@media (max-width: 767px) {
  #product {
    h1{
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
    }
    .f-s-14{
      font-style: normal;
      font-weight: 500;
      font-size: 10px;
      line-height: 12px;
    }
    .image {
      margin-bottom:0px;
    }
    .product-thumb-slider {
      margin-bottom: 0;
    }
    .data{
      border: 0;
      padding: 15px;
      box-shadow: none;
      padding: 15px;
      border-radius: 0;
    }
    .breadcrumbs {
      margin: 22px 0;
      padding: 0;
    }
    .reward-btn button{
      margin: 0 5px;
      padding: 9px 6px;
      width: 50%;

      & > img {
        & ~ * {
          padding-left: 7px;
        }
      }
    }
    .reward-btn{
      margin: 0 -5px;
      margin-bottom: 20px;
    }
    .cart-with-price {
      button{
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        min-width: inherit;
        margin:0px  0;
      }
      .btn-outlined{
        margin-top:10px;
      }
    }
    .product-data-sm{
      display: block;
      background:#fff;
      box-shadow: none;
      border-radius:8px 8px 0 0;
      padding: 15px 15px 0;
      border: 0;
    }
    .product-data-lg{
      display: none;
    }
    .product-top-section{
      .bg-cl-white{
        border-radius:0 0 8px 8px;
      }
    }
    .details {
      padding: 0 15px;
      margin: 20px 0;
    }
    .product-offers{
      .cl-primary{
        display: none;
      }
      .price{
        margin:20px 0;
      }
    }
    .product-info{
      .shaded-box {
        box-shadow: none;
        border-radius: 8px;
        padding: 18px 15px;
        border: solid 1px #ddd;
      }
      .details-title {
        font-size: 14px;
        padding: 9px 0;
        margin: 0 0 -1px 0;
      }
    }
  .shaded-box{
    padding:15px;
  }
  .similar-products, .recently-viewed{
      margin-bottom:20px;
  }
  .product-listing-carousel .swiper-button-next {
    display: none;
  }
  .product-listing-carousel .swiper-button-prev {
    display: none;
  }
  .swiper-pagination{
    display: block !important;
    margin-top: 20px;
    margin-bottom: 8px;}
  }
}
</style>
