<template>
  <div class="relative">
    <div class="outside-close" @click="closeMenu(), scrollTopContainer()" />
    <div class="sidebar-close">
      <img src="~theme/assets/sidebar-close.svg" alt="Close" @click="closeMenu(), scrollTopContainer()">
    </div>
    <div class="sidebar-menu">
      <div class="login-info">
        <div @click="closeMenu(), scrollTopContainer()">
          <div class="user-info-wrap" @click="login">
            <div class="user-img">
              <img src="/assets/user-placeholder.jpg" alt="User" class="object-cover">
            </div>
            <div class="user-gn">
              <span class="g-text">
                {{ $t("Hello") }},
              </span>
              <strong class="u-name">
                {{ userFullname }}
              </strong>
            </div>
          </div>
        </div>
        <div class="user-setting" @click="closeMenu(), scrollTopContainer()">
          <img src="/assets/settings.svg" alt="settings" @click="login">
        </div>
      </div>
      <div class="sidebar-menu__container" id="sidebar-menu__container" ref="container">
        <h2 class="nav-title">
          {{ $t('SHOP BY CATEGORY') }}
        </h2>
        <ul class="sidebar-custom-menu__list" v-show="boxMenuEnabled">
          <li
            @click="closeMenu(), scrollTopContainer()"
          >
            <router-link
              :to="localizedRoute('/')"
              exact
              class="flex middle-xs"
            >
              <img src="/assets/pink-new-badge.svg" alt="New" class="mr15">
              {{ $t('Today\'s Deal') }}
            </router-link>
          </li>
        </ul>
        <div class="sidebar-menu-cover">
          <div class="sidebar-menu-wrap" :style="mainListStyles">
            <ul class="p0 m0 sidebar-menu__list">
              <li
                :key="category.slug"
                @click="closeMenu(), scrollTopContainer()"
                v-for="category in visibleCategories"
              >
                <div
                  v-if="isCurrentMenuShowed"
                  class="subcategory-item"
                >
                  <sub-btn
                    v-if="category.children_count > 0"
                    :id="category.id"
                    :name="category.name"
                    @click.native="enableBoxmenu(false)"
                  />
                  <router-link
                    v-else
                    :to="categoryLink(category)"
                  >
                    {{ category.name }}
                  </router-link>
                </div>
                <sub-category
                  :category-links="category.children_data"
                  :id="category.id"
                  :parent-slug="category.slug"
                  :parent-path="category.url_path"
                  :parent="category.name"
                  @menubacked="enableBoxmenu"
                />
              </li>
              <li class="menu-logout-link" v-if="isLoggedIn">
                <a href="#" @click.prevent="logout">
                  {{ $t('Logout') }}
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="box-menu-list" v-show="boxMenuEnabled">
          <div class="box-menu-item" :class="{notloggedin: !isLoggedIn}" @click="login">
            <div @click="closeMenu(), scrollTopContainer()">
              <cms-block :identifier="'menu_search_history'" />
            </div>
          </div>
          <!-- <div class="box-menu-item" @click="closeMenu(), scrollTopContainer()" v-if="isLoggedIn">
            <cms-block :identifier="'menu_search_history'" />
          </div> -->
          <div class="box-menu-item" @click="closeMenu(), scrollTopContainer()">
            <cms-block :identifier="'menu_support'" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import i18n from '@vue-storefront/i18n'
import SidebarMenu from '@vue-storefront/core/compatibility/components/blocks/SidebarMenu/SidebarMenu'
import SubBtn from 'theme/components/core/blocks/SidebarMenu/SubBtn'
import SubCategory from 'theme/components/core/blocks/SidebarMenu/SubCategory'
import { formatCategoryLink } from '@vue-storefront/core/modules/url/helpers'
import { disableBodyScroll, clearAllBodyScrollLocks } from 'body-scroll-lock'
import CmsBlock from 'theme/components/core/blocks/Cms/Block'
import EventBus from '@vue-storefront/core/compatibility/plugins/event-bus'

export default {
  components: {
    SubCategory,
    SubBtn,
    CmsBlock
  },
  mixins: [SidebarMenu],
  data () {
    return {
      myAccountLinks: [
        {
          id: 1,
          name: i18n.t('My profile'),
          url: '/my-account'
        },
        {
          id: 2,
          name: i18n.t('My shipping details'),
          url: '/my-account/shipping-details'
        },
        {
          id: 3,
          name: i18n.t('My newsletter'),
          url: '/my-account/newsletter'
        },
        {
          id: 4,
          name: i18n.t('My orders'),
          url: '/my-account/orders'
        },
        {
          id: 5,
          name: i18n.t('My loyalty card'),
          url: '#'
        },
        {
          id: 6,
          name: i18n.t('My product reviews'),
          url: '#'
        }
      ],
      componentLoaded: false,
      boxMenuEnabled: true
    }
  },
  computed: {
    mainListStyles () {
      return this.submenu.depth ? `transform: translateX(${this.submenu.depth * 100}%)` : false
    },
    isLoggedIn () {
      return this.$store.getters['user/isLoggedIn']
    },
    ...mapState({
      submenu: state => state.ui.submenu,
      currentUser: state => state.user.current
    }),
    getSubmenu () {
      return this.submenu
    },
    visibleCategories () {
      return this.categories.filter(category => {
        return category.product_count > 0 || category.children_count > 0
      })
    },
    isCurrentMenuShowed () {
      return !this.getSubmenu || !this.getSubmenu.depth
    },
    userFullname () {
      return this.isLoggedIn
        ? this.currentUser.firstname + ' ' + this.currentUser.lastname
        : this.$t('Guest');
    }
  },
  mounted () {
    this.$nextTick(() => {
      this.componentLoaded = true;
      disableBodyScroll(this.$refs.container)
    })
  },
  destroyed () {
    clearAllBodyScrollLocks()
  },
  methods: {
    login () {
      if (!this.isLoggedIn) {
        this.$store.commit('ui/setAuthElem', 'login')
        this.$bus.$emit('modal-show', 'modal-signup')
      } else {
        this.$router.push({ name: 'my-account' })
      }
    },
    logout () {
      EventBus.$emit('user-before-logout')
      this.$router.push(this.localizedRoute('/'))
    },
    enableBoxmenu (isEnabled) {
      this.boxMenuEnabled = isEnabled;
    },
    categoryLink (category) {
      return formatCategoryLink(category)
    },
    scrollTopContainer () {
      var elmnt = document.getElementById('sidebar-menu__container');
      elmnt.scrollTop = 0;
    }
  }
}
</script>

<style lang="scss">
@import "~theme/css/animations/transitions";
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$bg-secondary: color(secondary, $colors-background);
$color-gainsboro: color(gainsboro);
$color-matterhorn: color(matterhorn);
$color-mine-shaft: color(mine-shaft);
$gray-666666: color(gray-666666);
$color-primary: color(primary);
$color-secondary: color(secondary);
$pink-EB8097: color(pink-EB8097);
$white: color(white);
$gray-444444: color(gray-444444);
$green-F3F9FA: color(green-F3F9FA);
$white: color(white);
.outside-close {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.sidebar-menu {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  position: relative;

  @media (max-width: 767px) {
    width: 100%;
  }

  &__container {
    padding-bottom: 20px;
    position: relative;
    height: calc(100% - 120px);
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    @media (max-width: 1919px) {
      height: calc(100% - 100px);
    }

    @media (max-width: 767px) {
      padding-bottom: 10px;
      height: calc(100% - 60px);
    }
  }

  &__list {
    transition: transform $duration-main $motion-main;
  }

  ul {
    list-style-type: none;
  }

  li {

    a, button {
      position: relative;
      text-align: left;
      background-color: $white;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 4px;
        height: 100%;
        transform: scaleY(0);
        background-color: transparent;
        transform-origin: center;
        transition: all 0.5s ease 0s;
        z-index: 1;
      }

      &:hover,
      &:focus {
        background-color: $green-F3F9FA;
        color: $color-secondary;

        &::after {
          background-color: $color-secondary;
          transform: scaleY(1);
        }
      }
    }

    a.router-link-exact-active {
      background-color: $green-F3F9FA;
      color: $color-secondary;

      &::after {
        background-color: $color-secondary;
        transform: scaleY(1);
      }
    }
  }

  a {
    color: $color-primary;
    border: 0 none;
    background-color: transparent;
    font-size: 20px;
    font-weight: 600;
    padding: 22px 40px;
    display: flex;
    width: 100%;

    @media (max-width: 1919px) {
      font-size: 18px;
      padding: 15px 30px;
    }

    @media (max-width: 767px) {
      font-size: 16px;
      padding: 10px 20px;
    }
  }

  .parent-name {
    font-weight: 500;
    color: $gray-666666;
  }

  .subcategory-item {
    display: flex;
    width: 100%;
  }

  button {
    color: $color-primary;
    background-color: $white;
    a {
      color: $color-primary;
    }
  }

  .close-btn {
    i {
      color: $color-gainsboro;
    }
    &:hover,
    &:focus {
      i {
        color: $color-matterhorn;
      }
    }
  }

  .nav-title {
    font-size: 20px;
    font-weight: 500;
    color: $gray-666666;
    padding: 22px 40px;
    margin: 0;

    @media (max-width: 1919px) {
      font-size: 18px;
      padding: 15px 30px;
    }

    @media (max-width: 767px) {
      font-size: 16px;
      padding: 10px 20px;
    }
  }

  .sidebar-custom-menu__list {
    margin: 0;
    padding: 0;

    li {
      a {
        color: $pink-EB8097;
        &:hover,
        &:focus,
        &.router-link-exact-active {
          background-color: transparent;
          color: $pink-EB8097;
        }

        &.router-link-exact-active {
          &::after {
            display: none;
          }
        }
      }
    }
  }

  .box-menu-list {
    margin-top: 28px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-wrap: wrap;

    @media (max-width: 1919px) {
      margin-top: 15px;
    }

    @media (max-width: 767px) {
      padding-left: 0;
      padding-right: 0;
    }

    .box-menu-item {
      padding-left: 10px;
      padding-right: 10px;
      flex: 0 0 50%;
      max-width: 50%;
      &.notloggedin {
        .cms-content {
          cursor: pointer;
          border-radius: 6px;
          &:hover {
            a {
              background-color: $color-secondary;
              color: $white;
              svg {
                path {
                  fill: $white;
                }
              }
            }
          }
        }
        a {
          pointer-events: none;
        }
      }
      a {
        flex-direction: column;
        align-items: center;
        text-align: center;
        border: 2px solid $color-secondary;
        border-radius: 6px;
        padding: 12px 10px;
        color: $color-secondary;
        background-color: transparent;
        font-size: 18px;
        height: 100%;

        @media (max-width: 1919px) {
          font-size: 16px;
        }

        @media (max-width: 767px) {
          font-size: 14px;
          padding: 10px;
        }

        svg {
          @media (max-width: 767px) {
            width: 24px;
            margin-bottom: 5px;
          }
        }

        &:hover,
        &:focus {
          background-color: $color-secondary;
          color: $white;

          svg {
            path {
              fill: $white;
            }
          }
        }
      }
    }
  }

  .login-info {
    background-color: $color-secondary;
    padding: 20px 30px 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $white;
    font-size: 20px;

    @media (max-width: 1919px) {
      font-size: 18px;
    }

    @media (max-width: 767px) {
      font-size: 15px;
      padding: 10px 20px;
    }

    .user-info-wrap {
      display: flex;
      align-items: center;
      cursor: pointer;
      .user-img {
        width: 60px;
        height: 60px;
        background-color: $white;
        border-radius: 50%;
        margin-right: 20px;
        box-shadow: 0 6px 9px rgba($gray-444444 ,0.2);
        overflow: hidden;

        @media (max-width: 1919px) {
          width: 40px;
          height: 40px;
          margin-right: 10px;
        }
        @media (max-width: 767px) {
          width: 34px;
          height: 34px;
        }
      }
    }

    .user-setting {
      cursor: pointer;
      animation-play-state: paused;
      animation-duration: 8s;
      animation-name: rotate-infinite;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      width: 42px;
      height: 42px;

      @media (max-width: 1919px) {
        width: 32px;
        height: 32px;
      }

      @media (max-width: 767px) {
        width: 20px;
        height: 20px;
      }

      &:hover {
        animation-play-state: running;
      }

      img {
        display: block;
      }
    }
  }

  .sidebar-menu-wrap {
    transition: transform $duration-main $motion-main;
  }

  .menu-logout-link {
    display: none;

    @media (max-width: 767px) {
      display: block;
    }
  }
}
</style>
