<template>
  <section class="brands-filter-sec">
    <div class="container">
      <div class="brands-filter shaded-box mb20">
        <button class="all-brands-btn" @click="searchResult('All Brands')">
          {{ $t('All Brands') }}
        </button>
        <div class="brands-character-filter">
          <div v-for="(item, index) in brandsFilter.brand_filters" :key="index">
            <button
              v-if="isProductAvailable(item.title)"
              :class="{ 'is-selected': activeBrandCharId === index }"
              type="button"
              @click="searchResult(item.title), setactiveBrandCharId(index)"
            >
              {{ item.title }}
            </button>
            <button v-else type="button" class="disabled" :class="{active : false}">
              {{ item.title }}
            </button>
          </div>
        </div>
        <div class="brands-search-wrap">
          <button type="button" @click="brandsSearchToggle">
            <i class="material-icons">search</i>
          </button>
          <div class="brands-search-input-wrap" :class="{'active' : brandsSearchActive}">
            <input type="text" v-model="searchQuery" placeholder="Search All Brands">
            <div class="brands-search-input-options" v-if="filterBrand">
              <router-link :to="localizedRoute('/brand/'+item.link)" v-for="item in filterBrand" :key="item.id">
                {{ item.brand_name }}
              </router-link>
            </div>
          </div>
        </div>
      </div>
      <div class="brands-result shaded-box">
        <div class="brands-result-parent-list">
          <div class="brands-result-parent" v-for="(item, index) in searchArr" :key="index">
            <div class="brands-result-character">
              <span>{{ item[0] }}</span>
            </div>
            <div class="brands-result-list">
              <div class="brands-result-item" v-for="(child, childindex) in item[1].children" :key="childindex">
                <div class="brands-result-item-img">
                  <router-link :to="localizedRoute('/brand/'+child.link)" :key="child.link+'-image'">
                    <img :src="child.image" :alt="child.brand_name">
                  </router-link>
                  <span class="brands-result-item-count" :key="child.link+'-count'">
                    {{ getCount(child.brand_products) + ' Items ' }}
                  </span>
                </div>
                <div class="brands-result-item-title">
                  <router-link :to="localizedRoute('/brand/'+child.link)" :key="child.link+'-name'">
                    {{ child.brand_name }}
                  </router-link>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import JsonData from 'theme/resource/brand-landing-page.json'
export default {
  name: 'BrandFilter',
  props: {
    brandsData: {
      type: Array,
      required: true
    }
  },
  data () {
    return {
      searchQuery: null,
      checkData: false,
      data: '',
      value: '',
      activeBtn: false,
      searchArr: [],
      brandsSearchActive: false,
      activeBrandCharId: '',
      brandsFilter: JsonData,
      titleChar: ''
    };
  },
  mounted () {
    this.$nextTick(() => {
      this.searchResult();
    })
  },
  computed: {
    filterBrand () {
      return this.brandsData.filter(item => {
        if (this.searchQuery) {
          return this.searchQuery
            .toLowerCase()
            .split(' ')
            .every(v => item.brand_name.toLowerCase().includes(v));
        }
      });
    },
    headingAlphabet () {
      return this.titleChar
    }
  },
  methods: {
    getCount (products) {
      if (products !== null) {
        return products.split(',').length;
      }
      return 0;
    },
    searchBrand (value) {
      this.value = value;
      if (value !== 'All Brands') {
        this.data = this.brandsData.filter(item =>
          item.brand_name.startsWith(value)
        );
      } else {
        this.data = '';
      }
    },
    isProductAvailable (title) {
      const data = this.brandsData.some(
        item => item.brand_name.charAt(0) === title
      );
      return data;
    },
    searchResult (searchResultChar = 'All Brands') {
      let filteredArr = {};
      let rawData = this.brandsData;
      rawData.sort((a, b) => a.brand_name.localeCompare(b.brand_name, 'es', { sensitivity: 'base' }));
      let data = rawData.map((r, e) => {
        let group = r.brand_name.charAt(0);
        if (!filteredArr[group]) {
          filteredArr[group] = { children: [r] };
        } else if (r.is_active) {
          filteredArr[group].children.push(r);
        }
        return filteredArr;
      }, {})
      let result = Object.entries(filteredArr);
      if (searchResultChar !== 'All Brands') {
        result.map((res) => {
          if (res[0] === searchResultChar) {
            result = [];
            result.push(res);
          }
        })
      } else {
        this.activeBrandCharId = '';
      }
      this.searchArr = result;
    },
    brandsSearchToggle () {
      this.brandsSearchActive = !this.brandsSearchActive;
      this.searchQuery = null;
    },
    setactiveBrandCharId (itemIndex) {
      this.activeBrandCharId = itemIndex
    }
  }
};
</script>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$white: color(white);
$color-primary: color(primary);
$color-secondary: color(secondary);
$gray-666666: color(gray-666666);
$gray-D8D8D8: color(gray-D8D8D8);
$gray-F5F5F5: color(gray-F5F5F5);
$gray-EAEAEC: color(gray-EAEAEC);
$pink-EB8097: color(pink-EB8097);

.brands-filter-sec {
  .brands-filter {
    padding: 20px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 767px) {
      padding: 15px;
      flex-wrap: wrap;
    }
  }

  .all-brands-btn {
    font-size: 18px;
    font-weight: 600;
    color: $white;
    background-color: $color-secondary;
    border: 0 none;
    border-radius: 4px;
    padding: 14px 20px;
    margin-right: 11px;
    min-width: 135px;

    @media (max-width: 767px) {
      font-size: 12px;
      padding: 10px;
      min-width: 95px;
      order: 0;
    }

    &:hover {
      opacity: 0.6;
    }
  }

  .brands-character-filter {
    display: flex;
    flex-wrap: wrap;

    @media (max-width: 767px) {
      flex: 0 0 100%;
      max-width: 100%;
      order: 2;
      margin-top: 13px;
    }

    button {
      border: 0 none;
      background-color: transparent;
      font-size: 18px;
      font-weight: 600;
      color: $color-primary;
      padding: 0 11px;

      @media (max-width: 767px) {
        font-size: 14px;
        padding: 7px 10px;
      }

      &:hover, &.is-selected {
        color: $color-secondary;
      }

      &.disabled {
        color: $gray-666666;
        cursor: default;

        &:hover {
          color: $gray-666666;
        }
      }
    }
  }

  .brands-search-wrap {
    position: relative;
    margin-left: 11px;

    @media (max-width: 767px) {
      order: 1;
    }

    button {
      border: 0 none;
      color: $white;
      background-color: $color-secondary;
      border-radius: 4px;
      padding: 13px;
      position: relative;
      z-index: 1;

      @media (max-width: 767px) {
        padding: 6px;
      }

      &:hover {
        opacity: 0.6;
      }

      i {
        display: inline-block;
        vertical-align: middle;
      }
    }

    .brands-search-input-wrap {
      position: absolute;
      top: 0;
      right: 55px;
      overflow: hidden;
      width: 0;
      transition: all 0.5s ease 0s;

      @media (max-width: 767px) {
        right: 40px;
      }

      input {
        border: 1px solid $gray-D8D8D8;
        padding: 10px;
        font-size: 14px;
        height: 50px !important;
        line-height: 50px !important;
        border-radius: 4px;
        width: 0;
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s ease 0s;

        @media (max-width: 767px) {
          height: 36px !important;
          line-height: 36px !important;
          font-size: 12px;
        }
      }

      &.active {
        width: 230px;

        input {
          width: 230px;
          visibility: visible;
          opacity: 1;
        }
      }

      .brands-search-input-options {
        background-color: $white;
        border: 1px solid $gray-D8D8D8;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        margin-top: -1px;
        padding: 5px 0;
        font-size: 14px;
        position: relative;
        z-index: 1;

        @media (max-width: 767px) {
          font-size: 12px;
        }

        a {
          display: block;
          padding: 5px 10px;
          color: $color-primary;

          &:hover {
            color: $color-secondary;
          }
        }
      }
    }
  }

  .brands-result {
    padding: 30px;
    margin-bottom: 80px;

    @media (max-width: 767px) {
      padding: 20px 15px;
      margin-bottom: 20px;
    }

    .brands-result-parent-list {
      display: flex;
      flex-wrap: wrap;
      margin-left: -10px;
      margin-right: -10px;
    }

    .brands-result-parent {
      flex: 0 0 50%;
      max-width: 50%;
      padding-left: 10px;
      padding-right: 10px;

      @media (max-width: 767px) {
        flex: 0 0 100%;
        max-width: 100%;
      }

      &:nth-child(n+3) {
        margin-top: 30px;
      }

      &:nth-child(n+2) {
        @media (max-width: 767px) {
          margin-top: 20px;
        }
      }

      .brands-result-list {
        display: flex;
        flex-wrap: wrap;
        margin-left: -10px;
        margin-right: -10px;

        .brands-result-item {
          flex: 0 0 33.33%;
          max-width: 33.33%;
          padding-left: 10px;
          padding-right: 10px;
          text-align: center;

          &:nth-child(n+4) {
            margin-top: 30px;
          }

          &:hover {
            .brands-result-item-title {
              a {
                color: $color-secondary;
              }
            }
          }
        }

        .brands-result-item-img {
          height: 180px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          position: relative;

          @media (max-width: 991px) {
            height: 110px;
          }

          a {
            display: block;
          }

          img {
            display: block;
            transition: all 0.3s ease 0s;
            transform: scale(1);

            &:hover {
              transform: scale(0.9);
            }
          }

          .brands-result-item-count {
            font-size: 14px;
            font-weight: 600;
            color: $white;
            min-width: 90px;
            min-height: 32px;
            border-radius: 4px;
            background-color: $pink-EB8097;
            position: absolute;
            top: 8px;
            right: 8px;
            text-align: center;
            line-height: 32px;
            padding: 0 10px;

            @media (max-width: 991px) {
              font-size: 10px;
              top: 5px;
              right: 5px;
              min-width: 50px;
              min-height: 20px;
              line-height: 20px;
              padding: 0 8px;
            }
          }
        }

        .brands-result-item-title {
          font-size: 15px;
          font-weight: 600;
          color: $color-primary;
          margin-top: 5px;

          @media (max-width: 767px) {
            font-size: 12px;
          }
        }
      }
    }

    .brands-result-character {
      border-bottom: 1px solid $gray-EAEAEC;
      padding-bottom: 10px;
      margin-bottom: 20px;

      @media (max-width: 767px) {
        padding-bottom: 5px;
        margin-bottom: 10px;
      }

      & > span {
        font-size: 18px;
        font-weight: 600;
        color: $gray-666666;
        background-color: $gray-F5F5F5;
        border-radius: 4px;
        padding: 17px 11px;
        display: inline-block;
        vertical-align: top;

        @media (max-width: 767px) {
          font-size: 16px;
          padding: 11px 7px;
        }
      }
    }
  }
}
</style>
