$cyan-67B6C3: color(cyan-67B6C3);
$gray-666666: color(gray-666666);
$gray-DDDDDD: color(gray-DDDDDD);
$gray-333435: color(gray-333435);
$gray-DBDBDB: color(gray-DBDBDB);
$blue-7FA3DF: color(blue-7FA3DF);
$gray-F9F9F9: color(gray-F9F9F9);
$white: color(white);
$black: color(black);
$color-primary: color(primary);
$color-secondary: color(secondary);
$gray-A3A3A3: color(gray-A3A3A3);
#my_account{
    position: relative;
    .account-row{
        flex-wrap: nowrap;
        .account-menu{
            min-width:325px;
            .static-menu{
                width:100%;
                ul{
                    li{
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 20px;
                        a{
                            display:block;
                            padding:14px 25px;
                            &:after{
                                display:none;
                            }
                            .menu-icon {
                              position: absolute;
                              top: 50%;
                              transform: translateY(-50%);
                              line-height: 0;
                              left: 23px;
                              svg {
                                path {
                                  transition: all 0.5s ease 0s;
                                }
                              }
                            }
                            &:hover{
                                background: rgba(103, 182, 195, 0.1);
                                color: $cyan-67B6C3;
                                .menu-icon {
                                  svg {
                                    path {
                                      fill: $cyan-67B6C3;
                                      &.stroke-color {
                                        stroke: $cyan-67B6C3;
                                      }
                                    }
                                  }
                                }
                            }
                            &.router-link-exact-active{
                                background: rgba(103, 182, 195, 0.1);
                                color: $cyan-67B6C3;
                                font-weight:600;
                                .menu-icon {
                                  svg {
                                    path {
                                      fill: $cyan-67B6C3;
                                      &.stroke-color {
                                        stroke: $cyan-67B6C3;
                                      }
                                    }
                                  }
                                }
                            }
                        }
                    }
                }
            }
            &.shaded-box{
                padding:15px 0;
            }

            @media (min-width: 768px) and (max-width: 991px) {
                margin-right: 2%;
                min-width: auto;
                flex: 0 0 30%;
                max-width: 30%;
            }
        }
        .account-info{
            .shaded-box{
                padding:40px;
            }

            @media (min-width: 768px) and (max-width: 991px) {
                flex: 0 0 68%;
                max-width: 68%;
            }
        }
    }
    .profile-title{
        text-align: center;
        h3{
            font-weight: 700;
        }
        P{
            line-height: 1.2;
        }
    }
    .profile-br-box{
        border: solid 1px $gray-DDDDDD;
        border-radius: 10px 10px 0 0;
    }
    .btn-full{
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        text-transform: uppercase;
        padding: 13px 30px;
        width: auto;
        display: flex;
        img{
            width: 16px;
            margin-right: 7px;
        }
    }
    .account-block{
        .profile-info{
            padding: 40px;
            .d-flex{
                font-size: 16px;
                margin-bottom: 30px;
                display: flex;
                label{
                    color: $gray-666666;
                    min-width: 86px;
                    line-height: 20px;
                }
                span{
                    color: $gray-333435;
                    font-weight: 600;
                    line-height: 20px;
                    word-break: break-all;
                }
                .tooltip{
                    vertical-align: middle;
                    margin-top: -4px;
                    display: inline-block;
                    i{
                        font-size: 20px;
                    }
                }
                &:last-child{
                    margin-bottom: 0px;
                }

                @media (max-width: 767px) {
                    font-size: 13px;
                    margin-bottom: 20px;
                }
            }
        }
        .edit-row{
            border: solid 1px $gray-DDDDDD;
            border-top: 0;
            background: rgba(163, 163, 163, 0.06);
            border-radius: 0px 0px 10px 10px;
            padding: 20px 40px;
            img{
                width: 16px;
                height: 17px;
                margin-right: 10px;
            }

            span {
                @media (max-width: 767px) {
                    font-size: 14px;
                }
            }
        }
        input{
            border-bottom: solid 1px $gray-DBDBDB;
        }
        .base-input{
            label{
                font-size: 14px;
            }
            button{
                font-size: 18px;
            }
        }
        .check-box{
            padding-top: 15px;
            label{
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;
                color: $gray-333435;
                padding-left: 25px;
                display: block;
            }
        }
        label:before{
            width: 16px;
            height: 16px;
            border-radius: 4px;
        }
        input:checked + label:before{
            background-color: $gray-333435;
            border: solid 1px $gray-DBDBDB;
            border-radius: 4px;
        }
        input:checked + label:after{
            background-color: transparent;
            top: 7px;
            left: 4px;
            width: 7px;
            height: 4px;
            border: 2px solid $white;
            border-top: none;
            border-right: none;
        }
        input:not(.empty) ~ label{
            color: $gray-666666;
        }
        .check-slide{
            label:before{
                background: $gray-333435;
                border: 0px;
                border-radius: 15px;
                width: 40px;
                height: 20px;
            }
            label:after{
                content: '';
                background: $white;
                position: absolute;
                height: 18px;
                width: 18px;
                border-radius: 100%;
                left: 1px;
                top: 3px;
                transition: all 0.3s ease 0s;
            }
            input:checked + label:before{
                background: $cyan-67B6C3;
                border: 0px;
                border-radius: 15px;
                width: 40px;
                height: 20px;
            }
            input:checked + label:after{
                border: 0px;
                background: $white;
                position: absolute;
                height: 18px;
                width: 18px;
                border-radius: 100%;
                left: 21px;
                top: 3px;
            }
        }
        .select-wrapper{
            label{
                left: 16px;
            }
            select{
                margin-bottom: 0px;
                font-size: 14px;
            }
        }
    }
    .additional-info{
        .info-block:nth-child(n+3) {
          margin-top: 15px;
        }
        .profile-info{
            padding: 25px;
            .d-flex{
                font-size: 15px;
                line-height: 30px;
            }
        }
        .edit-row{
            border: solid 1px $gray-DDDDDD;
            border-top: 0;
            background: rgba(163, 163, 163, 0.06);
            border-radius: 0px 0px 10px 10px;
            padding: 20px 30px;
            justify-content: space-between;
        }
    }
    .recently-view{
        .product-tile-title{
            height: auto;
        }
        .product-tile-actions{
            .btn-full{
                font-size: 12px;
                padding: 7px 10px 6px;
                font-weight: 600;
                text-transform: none;
                width: 100%;
                .price{
                    display: inline-block;
                    .h4{
                        font-weight: 600;
                    }
                }
                svg{
                    vertical-align: middle;
                }
            }
            .btn-outlined {
                padding: 10px 5px;
                line-height: 1.2;
            }
        }
    }

    .account-newsletter{
        .profile-br-box{
            padding: 40px;
            border-radius: 10px;
        }
    }
}

.order-table{
    border-radius: 10px;
    table{
        tr{
            th{
                font-size: 14px;
                font-weight: 600;
                padding: 20px;
                background: rgba(163, 163, 163, 0.06);
            }
            td{
                font-size: 14px;
                padding: 20px;
            }
        }
    }
    .dropdown{
        .dropdown-content{
            border-radius: 4px;
            box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
            overflow: hidden;
            a{
                opacity: 1;
                font-size: 13px;
                color: $gray-666666;
                line-height: 16px;
                &:hover{
                    color: $white;
                }
            }
        }
    }
}
.order-status-pill {
    border-radius: 15px;
}
.order-info{
    border: solid 1px $gray-DDDDDD;
    border-radius: 12px;
    overflow: hidden;
    .top-row{
        border-bottom: solid 1px $gray-DDDDDD;
        background: $gray-F9F9F9;
        button{
            background: transparent;
            padding: 0;
        }
        h3{
            font-size: 16px;
            span{
                border-radius: 15.5px;
            }
        }
    }
    .order-table{
        border-radius: 12px;
        table{
            tr{
                th{
                    font-size: 14px;
                    padding: 11px 15px;
                    &:first-child{
                        padding-left: 30px;
                    }
                    &:last-child{
                        padding-right: 20px;
                    }
                }
                td{
                    font-size: 13px;
                    line-height: 16px;
                    color: $gray-666666;
                    padding: 11px 15px;
                    font-weight: 500;
                    a{
                        color: $gray-666666;
                        text-decoration: underline;
                    }
                    &:first-child{
                        padding-left: 30px;
                    }
                    &:last-child{
                        padding-right: 20px;
                        font-weight: 600;
                    }
                }
            }
            tfoot{
                tr{
                    &:last-child{
                        td{
                            color: $color-primary;
                            padding-bottom: 30px;
                            font-size: 14px;
                            font-weight: 700;
                        }
                    }
                }
            }
            .product-img{
                padding-right: 0px;
            }
            .product-image{
                height:auto;
                padding: 0 !important;
                width: 45px;
                img{
                    position: relative;
                    left: inherit;
                    top: inherit;
                    transform: translate(0%, 0%);
                    width: 45px;
                }
            }
        }
    }
    .order-address{
        padding: 40px 40px 25px;
        text-transform: capitalize;
        p{
            font-size: 12px;
        }
        .shipping-address{
            max-width: 210px;
        }
        .billing-address{
            max-width: 210px;
        }
    }
}

@media (max-width: 767px) {
    .header{
        position: relative;
        z-index: 3;
    }
    #my_account{
        .account-row{
            display: block;
            margin: 0;
            .mobile-menu{
                position: absolute;
                left: 0;
                top: 0;
                background-color: $white;
                border: 1px solid $gray-DDDDDD;
                width: 100%;
                padding: 14px 35px 14px 25px;
                z-index: 1;
                cursor: pointer;
                &.active {
                    border-bottom: 0 none;
                    span {
                        &::after {
                            transform: rotate(-45deg);
                        }
                    }
                }
                span{
                    display: flex;
                    align-items: center;
                    font-weight: 600;
                    position: relative;
                    color: $cyan-67B6C3;

                    &::before{
                        content: '';
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        margin-right: 10px;
                        vertical-align: middle;
                        background: url(/assets/person.png) no-repeat left top;
                    }
                    &::after{
                        content: '';
                        border: 1.5px solid #666666;
                        border-top: 0px;
                        border-right: 0px;
                        -webkit-transform: rotate(-135deg);
                        -ms-transform: rotate(-135deg);
                        transform: rotate(-135deg);
                        width: 8px;
                        height: 8px;
                        display: inline-block;
                        right: -10px;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        margin: auto 0;
                    }
                    &.my-profile-icon {
                        &::before {
                            background-image: url(/assets/person.png);
                            background-position: left top;
                        }
                    }
                    &.delivery-details-icon {
                        &::before {
                            background-image: url(/assets/map.png);
                            background-position: left top;
                        }
                    }
                    &.newsletter-icon {
                        &::before {
                            background-image: url(/assets/email.png);
                            background-position: left top;
                        }
                    }
                    &.order-icon {
                        &::before {
                            background-image: url(/assets/order-icon.png);
                            background-position: left top;
                        }
                    }
                    &.reward-points-icon {
                        &::before {
                            background-image: url(/assets/hend.png);
                            background-position: left top;
                        }
                    }
                    &.review-icon {
                        &::before {
                            background-image: url(/assets/folder-icon.png);
                            background-position: left top;
                        }
                    }
                    &.recently-viewed-icon {
                        &::before {
                            background-image: url(/assets/history.png);
                            background-position: left top;
                        }
                    }
                }
            }
            .account-menu{
                margin-right: 0;
                position: absolute;
                top: 49px;
                left: 0;
                width: 100%;
                border-radius: 0 0 10px 10px;
                display: none;
                padding: 0 !important;
                z-index: 9;
                box-shadow: 0 4px 10px rgba($black, 0.2);
                border: 1px solid $gray-DDDDDD;
                border-top: 0 none;
                &.active{
                    display: block;
                    /*transition: all 2s ease-in;*/
                }
            }
            .account-info{
                margin-top: 35px;
                .shaded-box {
                    padding: 20px;
                }
            }
        }
        .profile-title{
            h3{
                font-size: 15px;
            }
            p{
                font-size: 12px;
            }
        }
        .account-block {
            .edit-row {
                padding: 20px 18px;
            }
            .profile-info {
                padding: 20px;
            }
        }

        .additional-info {
            .info-block {
                & + .info-block {
                    margin-top: 15px;
                }
            }
            .edit-row {
                padding: 20px 18px;
                font-size: 14px;
            }
            .profile-info {
                padding: 20px;
                .d-flex {
                    font-size: 13px;
                }
            }
        }
        .account-newsletter {
            .profile-br-box {
                padding: 20px;
                h4 {
                    font-size: 15px;
                }
                p {
                    font-size: 13px;
                }
            }
        }
    }
    .order-table {
        table {
            display: block;
            padding: 20px;
            thead {
                display: none;
            }
            tbody {
                display: block;
                tr {
                    display: block;
                    padding-bottom: 20px;
                    &:last-child {
                        padding-bottom: 0;
                    }
                    &:first-child {
                        border-top: 0 none;
                        td {
                            padding: 0;
                            & + td {
                                padding-top: 20px;
                            }
                        }
                    }
                    td {
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        padding: 20px 0 0;
                        font-size: 13px;
                        text-align: left;
                        label {
                            flex: 0 0 50%;
                            max-width: 50%;
                            font-weight: 600;
                            padding-right: 20px;
                        }
                        .dropdown {
                            padding: 0;
                            margin: 0;
                            width: 100%;
                            &:hover {
                                .dropdown-content {
                                    display: flex;
                                }
                            }
                            & > i {
                                display: none;
                            }
                            .dropdown-content {
                                position: static;
                                box-shadow: none;
                                width: auto;
                                display: flex;
                                flex-wrap: wrap;
                                align-items: center;
                                a {
                                    font-weight: 600;
                                    border-radius: 4px;
                                    background-color: $color-secondary;
                                    color: $white;
                                    padding: 13px 27px;
                                    margin: 2px 0;
                                    & + a {
                                        margin-left: 20px;
                                        @media (max-width: 420px) {
                                            margin-left: 5px;
                                        }
                                    }
                                    &:last-child {
                                        background-color: $gray-A3A3A3;
                                    }
                                    &:hover {
                                        opacity: 0.6;
                                    }
                                    @media (max-width: 420px) {
                                        padding: 13px 7px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .order-info {
        .top-row {
            padding: 20px;
        }
        .review-order-body {
            padding: 20px 20px 0;
            .review-order-date {
                font-size: 13px;
                margin-bottom: 20px;
            }
            .remake-order-link {
                font-size: 14px;
                margin-bottom: 25px;
            }
            .itemes-ordered-title {
                border: 1px solid $gray-DDDDDD;
                border-bottom: 0 none;
                background-color: rgba($gray-A3A3A3, 0.06);
                border-radius: 8px 8px 0 0;
                padding: 16px 18px;
                margin: 0;
            }
        }
        .order-review-table {
            border-radius: 0 0 8px 8px;
            table {
                tr {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: flex-start;
                    td {
                        padding: 20px 0 0;
                        &:first-child {
                            padding-left: 0;
                        }
                        &:last-child {
                            padding-right: 0;
                            font-weight: 500;
                        }
                    }
                    &:last-child {
                        padding-bottom: 20px;
                    }
                }
                tbody {
                    tr {
                        &:first-child {
                            td {
                                &:nth-child(2) {
                                    padding-top: 0;
                                }
                            }
                        }
                        td {
                            flex: 0 0 calc(100% - 75px);
                            max-width: calc(100% - 75px);
                            padding-left: 75px;
                            &.product-img {
                                flex: 0 0 75px;
                                max-width: 75px;
                                padding-right: 15px;
                                padding-left: 0;
                                .product-cover__thumb {
                                    width: 60px;
                                    height: 60px;
                                    img {
                                        width: 100%;
                                    }
                                }
                            }
                            &:nth-child(2) {
                                padding-left: 0;
                                flex-direction: column;
                                align-items: flex-start;
                                label {
                                    width: 100%;
                                    padding-right: 0;
                                }
                            }
                        }
                    }
                }
                tfoot {
                    display: block;
                    tr {
                        td {
                            color: $color-primary;
                            font-size: 14px;
                            flex: 0 0 50%;
                            max-width: 50%;
                            text-align: left;
                            &:first-child {
                                padding-right: 20px;
                            }
                        }
                        &:last-child {
                            padding-bottom: 0;
                            td {
                                font-size: 15px;
                                padding-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
        .order-address {
            padding: 20px;
            h4 {
                padding-bottom: 15px;
                border-bottom: 1px solid $gray-DDDDDD;
            }
            h5 {
                margin-bottom: 15px;
            }
            .shipping-block {
                flex-direction: column;
            }
            .billing-block {
                flex-direction: column;
                margin-top: 20px;
            }
        }
    }
}