<template>
  <button @click="isOnWishlist ? removeProductFromWhishList(product) : addProductToWhishlist(product)" class="btn-wishlist action pointer" type="button" data-testid="addToWishlist">
    <slot>
      <span class="wishlist-icon">
        <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path id="Path" fill-rule="evenodd" clip-rule="evenodd" d="M12.6364 1C15.0463 1 17 2.91878 17 5.28571C17 9.57027 9 16 9 16C9 16 1 9.57114 1 5.28571C1 2.91878 2.95367 1 5.36364 1C6.88183 1 8.21894 1.76148 9.00061 2.91676C9.78106 1.76148 11.1182 1 12.6364 1Z" fill="#A3A3A3" fill-opacity="0.1" stroke="#A3A3A3" stroke-width="1.5" />
        </svg>
      </span>
      <template v-if="!isOnWishlist">
        {{ $t('Add to favorite') }}
      </template>
      <template v-else>
        {{ $t('Remove') }}
      </template>
    </slot>
  </button>
</template>

<script>
import { IsOnWishlist } from '@vue-storefront/core/modules/wishlist/components/IsOnWishlist'
import { AddToWishlist } from '@vue-storefront/core/modules/wishlist/components/AddToWishlist'
import { RemoveFromWishlist } from '@vue-storefront/core/modules/wishlist/components/RemoveFromWishlist'
import i18n from '@vue-storefront/i18n'
import { htmlDecode } from '@vue-storefront/core/lib/store/filters'
import EventBus from '@vue-storefront/core/compatibility/plugins/event-bus'

export default {
  mixins: [ IsOnWishlist, AddToWishlist, RemoveFromWishlist ],
  computed: {
    favoriteIcon () {
      return this.isOnWishlist ? 'favorite' : 'favorite_border'
    },
    isLoggedIn () {
      return this.$store.getters['user/isLoggedIn']
    }
  },
  methods: {
    addProductToWhishlist (product) {
      if (this.isLoggedIn) {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'success',
          message: '<svg data-v-25a3b197="" width="50" height="25" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg"><path data-v-25a3b197="" fill-rule="evenodd" clip-rule="evenodd" d="M17 1C20.3137 1 23 3.68629 23 7C23 12.9984 12 22 12 22C12 22 1 12.9996 1 7C1 3.68629 3.68629 1 7 1C9.08751 1 10.926 2.06607 12.0008 3.68347C13.074 2.06607 14.9125 1 17 1Z" fill="#EB8097" fill-opacity="1" stroke="#EB8097" stroke-width="1.5"></path></svg><span class="cl-gray-666666">' + i18n.t('Product {productName} has been added to wishlist!', { productName: htmlDecode(product.name) }) + '</span>'
        }, { root: true })
        this.addToWishlist(product)
      } else {
        const quickViewModal = document.querySelectorAll('.quick-view .modal')
        if (quickViewModal.length > 0) {
          EventBus.$emit('modal-hide', 'quick-view-modal')
          setTimeout(() => {
            this.$store.commit('ui/setOverlay', true)
          }, 300);
        }
        this.$store.commit('ui/setAuthElem', 'login')
        EventBus.$emit('modal-show', 'modal-signup')
      }
    },
    removeProductFromWhishList (product) {
      console.log('product', product)
      this.$store.dispatch('notification/spawnNotification', {
        type: 'success',
        message: '<svg data-v-25a3b197="" width="50" height="25" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg"><path data-v-25a3b197="" fill-rule="evenodd" clip-rule="evenodd" d="M17 1C20.3137 1 23 3.68629 23 7C23 12.9984 12 22 12 22C12 22 1 12.9996 1 7C1 3.68629 3.68629 1 7 1C9.08751 1 10.926 2.06607 12.0008 3.68347C13.074 2.06607 14.9125 1 17 1Z" fill="#f6f6f6" fill-opacity="1" stroke="#aaaaaa" stroke-width="1.5"></path></svg><span class="cl-gray-666666">' + i18n.t('Product has been removed from wishlist!') + '</span>'
      }, { root: true })
      this.removeFromWishlist(product)
    }
  }
}
</script>
<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-primary: color(primary);
$color-secondary: color(secondary);
$white: color(white);
$black: color(black);
$pink-EB8097: color(pink-EB8097);

.btn-wishlist {
  padding: 0;
  border: 0 none;
  background-color: transparent;

  .wishlist-icon {
    width: 40px;
    height: 40px;
    background-color: $white;
    border-radius: 50%;
    box-shadow: 2px 2px 4px rgba($black, 0.3);
    padding: 12px 10px;
    display: inline-block;

    @media (max-width: 767px) {
      width: 30px;
      height: 30px;
      padding: 7px;
    }

    svg {
      @media (max-width: 767px) {
        width: 12px;
      }

      path {
        transition: all 0.5s ease 0s;
      }
    }

    &.product__icon--active,
    &:hover {
      background-color: $white;
      color: $white;

      svg {
        path {
          stroke: $pink-EB8097;
          fill: $pink-EB8097;
          fill-opacity: 1;
        }
      }
    }
  }

}
</style>
