<template>
  <div class="wishlist cl-primary">
    <div class="sidebar-close">
      <img src="~theme/assets/sidebar-close.svg" alt="Wishlist close" @click="closeWishlist(), scrollTopContainer()" class="desktop-close">
      <img src="~theme/assets/close-black.svg" alt="Wishlist close" @click="closeWishlist(), scrollTopContainer()" class="mobile-close">
    </div>
    <div class="sidebar-title">
      <h2>
        {{ $t('Favorite') }}
      </h2>
      <clear-wishlist-button v-if="productsInWishlist.length" @click="clearWishlist" />
    </div>
    <h4 v-if="!productsInWishlist.length" class="cl-primary">
      {{ $t('Your wishlist is empty.') }}
    </h4>
    <div v-if="!productsInWishlist.length">
      {{ $t("Don't hesitate and") }}
      <router-link :to="localizedRoute('/')">
        {{ $t('browse our catalog') }}
      </router-link>
      {{ $t('to find something interesting for You!') }}
    </div>
    <ul class="product-list">
      <product v-for="wishlistProduct in productsInWishlist" :key="wishlistProduct.id" :product="wishlistProduct" />
    </ul>
  </div>
</template>

<script>
import Wishlist from '@vue-storefront/core/compatibility/components/blocks/Wishlist/Wishlist'
import Product from 'theme/components/core/blocks/Wishlist/Product'
import ClearWishlistButton from 'theme/components/core/blocks/Wishlist/ClearWishlistButton'

export default {
  props: {
    product: {
      type: Object,
      required: false,
      default: () => { }
    }
  },
  components: {
    Product,
    ClearWishlistButton
  },
  methods: {
    clearWishlist () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'warning',
        message: '<img class="mb40" src="/assets/red-close.svg" alt="Warninig" /><h2 class="notification-title">' + this.$t('Are you sure?') + '</h2>' + this.$t('Do you really want to delete these records? This process cannot be undone.'),
        action1: { label: this.$t('Cancel'), action: 'close' },
        action2: { label: this.$t('Delete'),
          action: () => {
            this.$store.dispatch('wishlist/clear')
          }
        },
        class: 'large-notification',
        hasNoTimeout: true
      })
    },
    scrollTopContainer () {
      var elmnt = document.getElementById('wishlist-sidebar');
      elmnt.scrollTop = 0;
    }
  },
  mixins: [Wishlist]
}
</script>

<style lang="scss">
@import "~theme/css/animations/transitions";

.wishlist {
  position: relative;
  padding: 40px;

  @media (max-width: 767px) {
    padding: 20px;
  }

  .sidebar-title {
    @media (max-width: 767px) {
      padding-top: 20px;
    }
  }
}
</style>
