<template>
  <div class="login-page">
    <div v-if="hasRedirect" class="pt10 pb10 px65 redirect-error">
      <p class="h5 mb0 mt0">
        {{ $t('You need to be logged in to see this page') }}
      </p>
    </div>
    <div class="modal-content pt20 pb50 px50">
      <div class="login-tab pb40">
        <a href="#" class="active">
          {{ $t('Log in') }}
        </a>
        <a href="#" @click.prevent="switchElem" data-testid="registerLink">
          {{ $t('register an account') }}
        </a>
        <i
          slot="close"
          class="modal-close material-icons cl-white"
          @click="close"
        >
          {{ $t('close') }}
        </i>
      </div>

      <div class="login-form-wrap">
        <form class="login-form" @submit.prevent="login" novalidate>
          <base-input
            class="mb10 email-input"
            type="email"
            name="email"
            v-model="email"
            @blur="$v.email.$touch()"
            :placeholder="$t('E-mail address *')"
            :validations="[
              {
                condition: !$v.email.required && $v.email.$error,
                text: $t('Field is required.')
              },
              {
                condition: !$v.email.email && $v.email.$error,
                text: $t('Please provide valid e-mail address.')
              }
            ]"
          />
          <base-input
            class="mb10 password-input"
            type="password"
            name="password"
            v-model="password"
            @blur="$v.password.$touch()"
            :placeholder="$t('Password *')"
            :validations="[
              {
                condition: !$v.password.required && $v.password.$error,
                text: $t('Field is required.')
              }
            ]"
          />
          <div class="mb30 flex end-xs middle-xs">
            <a href="#" @click.prevent="remindPassword">
              {{ $t('Forgot the password?') }}
            </a>
          </div>
          <button-full class="mb20" type="submit" data-testid="loginSubmit">
            {{ $t('Log in to your account') }}
          </button-full>
          <div class="center-xs">
            {{ $t('or') }}
            <social-signup />
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import Login from '@vue-storefront/core/compatibility/components/blocks/Auth/Login';

import ButtonFull from 'theme/components/theme/ButtonFull.vue';
import BaseCheckbox from '../Form/BaseCheckbox.vue';
import BaseInput from '../Form/BaseInput.vue';
import { required, email } from 'vuelidate/lib/validators';
import SocialSignup from 'src/modules/aureatelabs/social-auth/components/SocialSignup';

export default {
  mixins: [Login],
  validations: {
    email: {
      required,
      email
    },
    password: {
      required
    }
  },
  data () {
    return {
      hasRedirect: !!localStorage.getItem('redirect')
    };
  },
  methods: {
    close (e) {
      if (e) localStorage.removeItem('redirect');
      this.$bus.$emit('modal-hide', 'modal-signup');
    },
    login () {
      if (this.$v.$invalid) {
        this.$v.$touch();
        this.$store.dispatch('notification/spawnNotification', {
          type: 'error',
          message: this.$t('Please fix the validation errors')
        });
        return;
      }
      this.callLogin();
    },
    remindPassword () {
      if (!(typeof navigator !== 'undefined' && navigator.onLine)) {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'error',
          message: this.$t(
            'Reset password feature does not work while offline!'
          )
        });
      } else {
        this.callForgotPassword();
      }
    },
    onSuccess () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'success',
        message: this.$t('You are logged in!')
      });
    },
    onFailure (result) {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'error',
        message: this.$t(result.result)
      });
    }
  },
  components: {
    ButtonFull,
    BaseInput,
    SocialSignup
  }
};
</script>

<style lang='scss' scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-error: color(error);
$white: color(white);
.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modal-close {
  cursor: pointer;
}
.modal-content {
  @media (max-width: 400px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.redirect-error {
  background-color: $color-error;
  color: $white;
}
</style>
<style lang='scss'>
.login-tab {
  a.active {
    color: #67b6c3;
    border-bottom: solid 2px #333435;
  }
  a {
    min-width: 136px;
    display: inline-block;
    color: #b3b3b3;
    text-align: center;
    font-size: 16px !important;
    border-bottom: solid 2px #fff;
    padding: 16px 0;
    font-weight: 700;

    @media (max-width: 767px) {
      min-width: 116px;
    }
  }
}
.login-module {
  .material-icons {
    color: #333435;
    width: 40px;
    hyphens: 40px;
    border-radius: 40px;
    line-height: 39px;
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
  }
  .btn-full {
    font-size: 18px;
  }
  .modal-container {
    overflow: visible !important;
  }
}
body .login-page {
  input.py15,
  input.mx-input,
  select.empty {
    background: #ffffff;
    border-bottom: 1px solid #e5e5e5;
    box-sizing: border-box;
    border-radius: 0;
    height: 50px !important;
    line-height: 50px !important;
    padding: 10px 30px 10px 0;
  }
  select.empty {
    padding-top: 7px;
    appearance: none;
    line-height: 32px !important;
  }
  label {
    left: 0;
    top: 27px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: rgba(102, 102, 102, 0.5);
  }
  .password-input button {
    display: none;
  }
  .password-input,
  .password-email {
    position: relative;
  }
  .email-input .relative::after {
    right: 0;
    top: 15px;
    background: url("~src/themes/phoenixnext/assets/user-icon.png");
    content: "";
    display: inline-block;
    height: 21px;
    width: 21px;
    position: absolute;
  }
  .password-input .relative::after {
    right: 0;
    top: 15px;
    background: url("~src/themes/phoenixnext/assets/lock-icon.png");
    content: "";
    display: inline-block;
    height: 20px;
    position: absolute;
    width: 16px;
  }
  .select-wrapper::after {
    top: 20px;
    right: 15px;
  }
  .mx-icon-calendar, .mx-icon-clear {
    right: 0;
  }
}
body {
  .login-module {

    @media (max-width:765px) {
      .register-page .base-input, .register-page .mx-input-wrapper, .register-page .select-wrapper {
        margin-bottom: 10px;
      }
      .register-page .row {
        margin-bottom: 0;
      }
    }
    @media (max-width: 650px) {
      .login-page input.py15,
      .login-page input.mx-input,
      .login-page select.empty {
        height: 48px !important;
        line-height: 48px !important;
        padding: 9px 40px 9px 0;
      }
      .login-page label {
        top: 25px;
        left: 0;
      }
      .btn-full {
        font-size: 16px;
      }
      .login-page .password-input .relative::after,
      .login-page .email-input .relative::after {
        top: 13px;
        right: 0;
      }

      .login-page .px40 {
        padding: 20px;
      }
      .login-page select.empty {
        padding-top: 0px !important;
      }
      body .login-page .select-wrapper::after {
        top: 22px;
        right: 15px;
      }
      .login-page .material-icons {
        width: 30px;
        -webkit-hyphens: 40px;
        -ms-hyphens: 40px;
        hyphens: 40px;
        border-radius: 30px;
        line-height: 30px;
        font-size: 21px;
        z-index: 11;
      }
      .modal.modal-h-auto .modal-container {
        height: 100%;
        min-height: auto;
      }
      .login-page .select-wrapper::after {top: 21px;right: 24px;}
      .mx-icon-calendar, .mx-icon-clear {
        right: 0;
      }
    }
  }
}
</style>
