
// Pixels
$fontsize-px: 0 5 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40;


// Generators
@mixin font-size {
  @each $i in $fontsize-px {
    .f-s-#{$i} {
      font-size: #{$i}px;
    }
  }
}

@include font-size;
