<template>
  <div class="nosto_category" style="display:none">
    {{ getCategorys () }}{{ "/" + current | htmlDecode }}
  </div>
</template>

<script>
import { Breadcrumbs } from '@vue-storefront/core/modules/breadcrumbs/components/Breadcrumbs.ts'

export default {
  mixins: [Breadcrumbs],
  methods: {
    getCategorys () {
      var category = '';
      this.paths.forEach(key => {
        if (key.name !== 'PHOENIX') {
          category += '/' + key.name
        }
      })

      return category
    }
  }
}
</script>
