<template>
  <router-link :to="localizedRoute('/')" :title="$t('Home Page')" class="no-underline inline-flex main-logo">
    <svg width="156" height="31" viewBox="0 0 156 31" fill="none" xmlns="http://www.w3.org/2000/svg" :alt="$t(defaultTitle)">
      <path d="M16.2877 3.859C18.2703 5.60707 19.2616 7.99782 19.2616 11.0312C19.2616 14.0647 18.2703 16.4554 16.2877 18.2035C14.3052 19.9515 11.7176 20.8256 8.52495 20.8256H6.78701V28.9233H0.800781V1.23689H8.52495C11.7176 1.23689 14.3052 2.11093 16.2877 3.859ZM8.52495 6.55823H6.78701V15.5042H8.52495C10.0698 15.5042 11.2413 15.1186 12.0395 14.3474C12.8634 13.5505 13.2753 12.4451 13.2753 11.0312C13.2753 9.61735 12.8634 8.52481 12.0395 7.7536C11.2413 6.95668 10.0698 6.55823 8.52495 6.55823Z" fill="#FFFFFF" />
      <path d="M36.5981 28.9233V16.9695H29.4919V28.9233H23.5056V1.23689H29.4919V11.6482H36.5981V1.23689H42.5843V28.9233H36.5981Z" fill="#FFFFFF" />
      <path d="M55.4369 8.52481C53.8149 10.2215 53.0038 12.4066 53.0038 15.0801C53.0038 17.7536 53.8149 19.9387 55.4369 21.6353C57.059 23.332 59.1317 24.1803 61.6549 24.1803C64.1781 24.1803 66.2508 23.332 67.8728 21.6353C69.4949 19.9387 70.306 17.7536 70.306 15.0801C70.306 12.4066 69.4949 10.2215 67.8728 8.52481C66.2508 6.82815 64.1781 5.97982 61.6549 5.97982C59.1317 5.97982 57.059 6.82815 55.4369 8.52481ZM72.1598 4.86157C74.9147 7.63792 76.2922 11.0441 76.2922 15.0801C76.2922 19.1161 74.9147 22.5351 72.1598 25.3371C69.4306 28.1135 65.9289 29.5017 61.6549 29.5017C57.3808 29.5017 53.8663 28.1135 51.1114 25.3371C48.3822 22.5351 47.0176 19.1161 47.0176 15.0801C47.0176 11.0441 48.3822 7.63792 51.1114 4.86157C53.8663 2.05951 57.3808 0.658484 61.6549 0.658484C65.9289 0.658484 69.4306 2.05951 72.1598 4.86157Z" fill="#FFFFFF" />
      <path d="M80.7203 28.9233V1.23689H94.3921V6.55823H86.7065V11.9567H93.8128V17.278H86.7065V23.6019H94.3921V28.9233H80.7203Z" fill="#FFFFFF" />
      <path d="M98.8238 28.9233V0.0800781L112.573 15.0415V1.23689H118.559V30.0801L104.81 15.1186V28.9233H98.8238Z" fill="#FFFFFF" />
      <path d="M123.98 28.9233V1.23689H129.966V28.9233H123.98Z" fill="#FFFFFF" />
      <path d="M139.503 1.23689L144.253 9.33458L149.042 1.23689H155.415L147.42 14.733L155.801 28.9233H149.351L144.215 20.2086L139.039 28.9233H132.667L141.009 14.8102L133.053 1.23689H139.503Z" fill="#FFFFFF" />
    </svg>
  </router-link>
</template>

<script>
import config from 'config'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'

export default {
  data () {
    const storeView = currentStoreView()
    return {
      defaultTitle: storeView.seo.defaultTitle ? storeView.seo.defaultTitle : config.seo.defaultTitle
    }
  },
  props: {
    width: {
      type: [String, Number],
      required: true
    },
    height: {
      type: [String, Number],
      required: true
    }
  }
}
</script>
<style lang="scss" scoped>
  .main-logo{
    transition: all 0.5s ease 0s;

    &:hover{
      opacity: 0.8;
      }

    @media (max-width: 767px) {
      max-width:115px;
    }
  }
</style>
