<template>
  <div id="overlay" class="overlay fixed w-100" @click="close" v-if="isVisible" />
</template>

<script>
import { mapState } from 'vuex'
import Overlay from '@vue-storefront/core/compatibility/components/Overlay'

export default {
  mixins: [Overlay],
  computed: {
    ...mapState({
      isSearchPanelOpen: state => state.ui.searchpanel,
      isMicrocartOpen: state => state.ui.microcart,
      isWishlistOpen: state => state.ui.wishlist,
      isFreeGiftsOpen: state => state.ui.freegifts
    })
  },
  methods: {
    close () {
      let sidebarId;
      if (this.isSearchPanelOpen) {
        sidebarId = 'search-sidebar';
      } else if (this.isMicrocartOpen) {
        sidebarId = 'microcart-sidebar';
      } else if (this.isWishlistOpen) {
        sidebarId = 'wishlist-sidebar';
      } else {
        sidebarId = 'free-gifts-sidebar';
      }
      var elmnt = document.getElementById(sidebarId);
      elmnt.scrollTop = 0;

      this.$store.commit('ui/setOverlay', false)
      this.$store.commit('ui/setMicrocart', false)
      this.$store.commit('ui/setWishlist', false)
      this.$store.commit('ui/setSearchpanel', false)
      this.$store.commit('ui/setSidebar', false)
      this.$store.commit('ui/setFreeGifts', false)
      this.$store.dispatch('themeCart/closeEditMode')
    }
  }
}
</script>

<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
@import '~theme/css/base/global_vars';
$color-bg: color(black);
$z-index-overlay: map-get($z-index, overlay);

.overlay {
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba($color-bg, 0.65);
  z-index: $z-index-overlay;
}
</style>
