<template>
  <div class="free-gifts cl-primary">
    <div class="sidebar-close-wrap">
      <button class="back-to-cart-btn inline-flex middle-xs" @click="toggleFreeGifts">
        <i
          class="material-icons icon mr10 pointer"
        >
          keyboard_backspace
        </i>
        <span>{{ $t('Back to Shopping Cart') }}</span>
      </button>
      <div class="sidebar-close">
        <img src="~theme/assets/sidebar-close.svg" alt="Free Gifts Close" @click="closeFreeGifts" class="desktop-close">
        <img src="~theme/assets/close-black.svg" alt="Free Gifts Close" @click="closeFreeGifts" class="mobile-close">
      </div>
    </div>
    <div class="sidebar-title">
      <h2>
        {{ $t('Free Gifts') }}
      </h2>
      <span class="free-gifts-count inline-flex middle-xs">
        {{ getFreeGifts.max_gift }} {{ $t('Free Gifts Left') }}
      </span>
    </div>

    <h4 v-if="getFreeGifts.gifts.length < 0" class="cl-primary">
      {{ $t('Your free gifts list is empty.') }}
    </h4>
    <div class="product-list" v-if="getFreeGifts.gifts.length > 0">
      <ul>
        <li v-for="(product, index) in getFreeGifts.gifts" :key="index" class="product-item">
          <div class="product-image-wrap">
            <div class="product-cover">
              <img :src="product.image" alt="image not found">
            </div>
          </div>
          <div class="product-item-content">
            <div class="product-item-text">
              <div class="product-item-text-wrap">
                <h5 class="product-item-title">
                  {{ product.name }}
                </h5>
                <div class="product-item-info-list">
                  <div class="product-item-info-item" v-if="product.author">
                    <span class="product-item-info-title testing">{{ $t('Author Name: ') }}</span>
                    <span class="product-item-info-text weight-600 text-underline cl-primary">{{ product.author }}</span>
                  </div>
                  <div class="product-item-info-item" v-if="product.number_of_pages">
                    <span class="product-item-info-title">{{ $t('Number of Page: ') }}</span>
                    <span class="product-item-info-text weight-600 text-underline cl-primary">{{ product.number_of_pages }}</span>
                  </div>
                </div>
                <div class="product-item-btn-wrap">
                  <button class="add-free-gifts-btn btn-full" @click="addToCart(product)">
                    {{ $t('ADD FREE GIFT') }}
                  </button>
                </div>
              </div>
            </div>
            <div class="product-item-price-sec">
              <div class="weight-700 cl-secondary h1">
                <span class="price-special">{{ product.gift_price }}&nbsp;</span>
                <span class="price-original">{{ product.final_price }}</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { notifications } from '@vue-storefront/core/modules/cart/helpers'

export default {
  computed: {
    ...mapGetters({
      getFreeGifts: 'freeGift/getFreeGiftProducts',
      currentCartToken: 'cart/getCartToken'
    })
  },
  methods: {
    toggleFreeGifts () {
      this.$store.dispatch('ui/toggleFreeGifts')
      this.$store.dispatch('ui/toggleMicrocart')
    },
    closeFreeGifts () {
      this.$store.dispatch('ui/toggleFreeGifts')
      this.$store.commit('ui/setMicrocart')
      var elmnt = document.getElementById('free-gifts-sidebar');
      elmnt.scrollTop = 0;
    },
    async addToCart (product) {
      try {
        await this.$store.dispatch('freeGift/addItem', [this.currentCartToken, this.getFreeGifts.rule_id, product.id])
        this.$store.dispatch('ui/toggleFreeGifts')
        var message = 'Gift Product has been added to the cart!'
        this.notifyUser(notifications.createNotification({ type: 'success', message }))
        this.$store.dispatch('ui/toggleMicrocart')
      } catch (message) {
        this.notifyUser(notifications.createNotification({ type: 'error', message }))
      }
    },
    notifyUser (notificationData) {
      this.$store.dispatch('notification/spawnNotification', notificationData, { root: true })
    }
  }
}
</script>

<style lang="scss" scoped>
@import "~theme/css/animations/transitions";
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$gray-666666: color(gray-666666);
$color-primary: color(primary);
$color-secondary: color(secondary);
$color-white: color(white);

.free-gifts {
  position: relative;
  padding: 40px;

  @media (max-width: 767px) {
    padding: 20px;
  }

  .sidebar-title {
    @media (max-width: 767px) {
      padding-top: 20px;
    }
  }
}

.back-to-cart-btn {
  margin: 0 0 40px;
  padding: 0;
  border: 0 none;
  background-color: transparent;
  color: $color-primary;
  font-size: 20px;
  font-weight: 500;

  @media (max-width: 767px) {
    margin: 0;
    font-size: 14px;

    .material-icons {
      font-size: 20px;
    }
  }

  &:hover {
    color: $color-secondary;
  }

  & > span {
    text-decoration: underline;
  }
}

.free-gifts-count {
  font-size: 16px;
  font-weight: 500;
  color: $gray-666666;

  @media (max-width: 767px) {
    font-size: 12px;
  }
}

.sidebar-close-wrap {
  @media (max-width: 767px) {
    display: flex;
    justify-content: space-between;
  }
}

.blend {
  flex: 0 0 121px;
  opacity: .8;
  will-change: opacity;
  transition: .3s opacity $motion-main;
  &:hover{
     opacity: 1;
   }
}
.col-xs {
  flex-direction: column;
}
input {
  width: 30px;
}
.price-original {
  text-decoration: line-through;
  color: #828282;
  font-size: .95rem;
}
.add-free-gifts-btn {
  margin: 0 15px 0 0;
  min-width: 140px;
  text-align: center;
  width: auto;

  @media (max-width: 767px) {
    margin: 0 0 8px;
    padding: 6px 10px;
    min-width: 130px;
  }

  @media (max-width: 479px) {
    font-size: 10px;
  }
}
.price-original {
  text-decoration: line-through;
  color: #828282;
  font-size: .95rem;
}
.price-original {
  text-decoration: line-through;
  color: #828282;
  font-size: .95rem;
}
.product-item {
  display: flex;
  margin-bottom: 30px;

  .product-image-wrap {
    flex: 0 0 120px;
    max-width: 120px;

    @media (max-width: 479px) {
      flex: 0 0 60px;
      max-width: 60px;
    }

    .product-cover {
      border-radius: 6px;
      overflow: hidden;
      position: relative;

      &__thumb {
        &::after {
          content: "";
          position: absolute;
          top: 0;
          height: 100%;
          left: 0;
          width: 100%;
          background-color: rgba($color-white, 0.6);
          opacity: 0;
          transition: all 0.5s ease 0s;
        }
      }

      &:hover {
        .product-cover__thumb {
          &::after {
            opacity: 1;
          }
        }
      }
    }
  }

  .product-item-content {
    flex: calc(100% - 120px);
    max-width: calc(100% - 120px);
    padding-left: 15px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 479px) {
      padding-left: 5px;
      flex: calc(100% - 60px);
      max-width: calc(100% - 60px);
    }
  }

  .product-item-title {
    margin-bottom: 10px;

    @media (max-width: 767px) {
      font-size: 12px;
    }
  }

  .product-item-info-list {
    font-weight: 500;
    font-size: 13px;
    color: $gray-666666;
    margin-bottom: 15px;
    line-height: 1.5;

    @media (max-width: 767px) {
      font-size: 10px;
      margin-bottom: 10px;
    }
  }
}
.read-sample-btn {
  min-width: 160px;
  min-height: 44px;

  @media (max-width: 767px) {
    width: 100%;
    padding: 6px 10px;
    min-height: 36px;
  }

  @media (max-width: 479px) {
    min-width: 150px;
    font-size: 10px;
  }
}
.product-item-price-sec {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 15px;
  padding-left: 10px;

  @media (max-width: 767px) {
    padding-bottom: 8px;

    .h1 {
      font-size: 16px;
    }
  }

  @media (max-width: 479px) {
    padding-left: 5px;

    .h1 {
      font-size: 14px;
    }
  }
}
.product-item-text {
  flex: 0 0 60%;
  max-width: 60%;
}
.product-item-text-wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.product-item-btn-wrap {
  flex-grow: 1;
  align-items: flex-end;
  display: flex;
}
</style>
