<template>
  <div v-show="isPaymentMethod">
    <form id="2c2p-payment-form" @submit.prevent="payment3d()" ref="p2c2pForm">
      <input type="text" v-model="cardnumber" data-encrypt="cardnumber" maxlength="16" placeholder="Credit Card Number">
      <div class="card-date">
        <input type="text" v-model="month" data-encrypt="month" maxlength="2" placeholder="MM">
        <input type="text" v-model="year" data-encrypt="year" maxlength="4" placeholder="YYYY">
        <input type="password" v-model="cvv" data-encrypt="cvv" maxlength="4" autocomplete="off" placeholder="CVV2/CVC2">
      </div>
      <input type="hidden" value="" v-model="encryptedCardInfo" name="encryptedCardInfo">
      <input type="hidden" value="" v-model="maskedCardInfo" name="maskedCardInfo">
      <input type="hidden" value="" v-model="expMonthCardInfo" name="expMonthCardInfo">
      <input type="hidden" value="" v-model="expYearCardInfo" name="expYearCardInfo">
    </form>
  </div>
</template>
<script>
export default {
  name: 'PaymentMethod',
  data: function () {
    return {
      cardnumber: null,
      month: null,
      year: null,
      cvv: null,
      encryptedCardInfo: null,
      maskedCardInfo: null,
      expMonthCardInfo: null,
      expYearCardInfo: null
    };
  },
  computed: {
    isOrderReview () {
      return this.$parent.$parent.activeSection.orderReview
    },
    isPaymentMethod () {
      return this.$parent.$parent.activeSection.payment
    },
    fetchCardDetails () {
      let paymentData = {
        cardnumber: this.cardnumber,
        month: this.month,
        year: this.year,
        cvv: this.cvv,
        encryptedCardInfo: this.encryptedCardInfo,
        maskedCardInfo: this.maskedCardInfo,
        expMonthCardInfo: this.expMonthCardInfo,
        expYearCardInfo: this.expYearCardInfo
      }
      return paymentData;
    }
  },
  mounted () {
    this.$bus.$on('make-2c2p-payment', this.payment3d)
  },
  methods: {
    payment3d () {
      window.My2c2p.getEncrypted('2c2p-payment-form', (encryptedData, errCode, errDesc) => {
        if (errCode !== 0) { alert(errDesc + ' (' + errCode + ')'); } else {
          this.encryptedCardInfo = encryptedData.encryptedCardInfo;
          this.maskedCardInfo = encryptedData.maskedCardInfo;
          this.expMonthCardInfo = encryptedData.expMonthCardInfo;
          this.expYearCardInfo = encryptedData.expYearCardInfo;
          let paymentData = {
            cardnumber: this.cardnumber,
            month: this.month,
            year: this.year,
            cvv: this.cvv,
            encryptedCardInfo: this.encryptedCardInfo,
            maskedCardInfo: this.maskedCardInfo,
            expMonthCardInfo: this.expMonthCardInfo,
            expYearCardInfo: this.expYearCardInfo
          }
          this.$store.commit('p2c2pPayment/setPaymentDetails', paymentData)
        }
      });
    }
  }
}
</script>
