<template>
  <div class="relative">
    <div class="hidden visible-lg">
      <div class="search-group flex">
        <label class="hidden" for="header-search">{{ $t('Search') }}</label>
        <input
          id="header-search"
          class="search-input f-s-14 weight-500"
          :placeholder="$t('Search here')"
          type="text"
          v-model="search"
          @input="makeSearch(), openSearchModal(), closeSearchModalOnInput()"
          @keyup.enter="openSearchModal"
          @keyup.esc="closeSearchModal"
        >
        <span class="icon-wrap flex middle-xs p5" v-if="search.length > 0">
          <i
            class="material-icons pointer"
            @click="closeSearchModal"
            role="button"
          >
            close
          </i>
        </span>
        <button class="btn-search" type="button" @click="openSearchModal" @keyup.esc="closeSearchModal">
          <img src="~theme/assets/search.svg" alt="Search" class="search-icons">
          <span class="ml10 f-s-14 cl-white weight-500 block">{{ $t('Search') }}</span>
        </button>
      </div>
    </div>
    <div class="flex middle-xs mobile-search-btn">
      <button
        type="button"
        class="bg-cl-transparent brdr-none"
        @click="toggleSearchpanel"
      >
        <img src="~theme/assets/search-mobile.svg" alt="Search" class="search-icons block">
        <span class="mt5 f-s-12 cl-white weight-500 block nowrap">{{ $t('Search') }}</span>
      </button>
    </div>
    <div class="overlay fixed w-100" @click="closeSearchModal" v-if="isVisible" />
    <div class="search-lists bg-cl-white absolute w-100">
      <search-result :search-result="visibleProducts" @click="closeSearchModal" />
    </div>
  </div>
</template>

<script>
import SearchIcon from '@vue-storefront/core/compatibility/components/blocks/Header/SearchIcon'
import SearchPanel from '@vue-storefront/core/compatibility/components/blocks/SearchPanel/SearchPanel'
import SearchResult from './SearchResults'

export default {
  mixins: [SearchIcon, SearchPanel],
  components: {
    SearchResult
  },
  props: {
    isMobileSearch: {
      type: Boolean,
      default: false,
      required: false
    }
  },
  data () {
    return {
      isSeachBoxOpen: false,
      isVisible: false,
      searchString: '',
      totalcharacter: 0
    };
  },
  watch: {
    $route (to, from) {
      this.isSeachBoxOpen = false;
      this.isVisible = false;
    }
  },
  computed: {
    visibleProducts () {
      const productList = this.products || [];
      return productList;
    }
  },
  methods: {
    openSearchModal () {
      if (this.search.length > 0) {
        this.isVisible = true;
        this.isSeachBoxOpen = true;
        this.$bus.$emit('modal-show', 'modal-search-results');
        this.$store.commit('ui/setOverlay', false);
      }
    },
    closeSearchModalOnInput () {
      if (this.search.length < 1) {
        this.isVisible = false;
        this.isSeachBoxOpen = false;
        this.$bus.$emit('modal-hide', 'modal-search-results');
      }
    },
    closeSearchModal () {
      this.isVisible = false;
      this.isSeachBoxOpen = false;
      this.search = '';
      this.$bus.$emit('modal-hide', 'modal-search-results');
    },
    openMobileSearchBox () {
      this.$bus.$emit('open-search-input');
    }
  }
};
</script>
<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$gray-D8D8D8: color(gray-D8D8D8);
$white: color(white);
$color-primary: color(primary);
$color-secondary: color(secondary);
$pink-EB8097: color(pink-EB8097);

.search-group {
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0,0,0,0.10);
  border: 1px solid $white;
  background-color: $white;
  position: relative;
  z-index: 5;

  input {
    border: 0 none;
    height: 40px;
    line-height: 40px;
    // color: $gray-D8D8D8;
    padding: 10px 16px;
    margin: 0;
    flex-grow: 1;
    flex-basis: 0;
    appearance: none;
    line-height: 18px;

    &:focus {
      outline: 0 none;
    }
  }

  .material-icons {
    color: $color-secondary;
    font-size: 18px;
    &:hover{
      color: $pink-EB8097;
    }
  }

  .btn-search {
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 6px;
    overflow: hidden;
    background-color: $color-secondary;
    width: 97px;
    border: 0 none;
    &:hover{
      background-color: $color-secondary;
      opacity: 0.8;
    }
  }
}
.search-lists {
  border-radius: 6px;
  overflow: hidden;
  z-index: 4;
  color: $color-primary;
}
.mobile-search-btn {
  display: none;
  @media (max-width: 991px) {
    border-left: 1px solid rgba($white, 0.15);
    padding: 13px 10px;
    height: 100%;
    display: inherit;
    button {
      padding: 0;
    }
    .search-icons {
      display: block;
      margin: 0 auto;
    }
  }

  @media (max-width: 575px) {
    padding: 17px 8px;
    display: flex;
  }

  button {
    & > span {
      @media (max-width: 575px) {
        display: none;
      }
    }
  }
}
</style>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-primary: color(primary);
$color-secondary: color(secondary);

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  cursor:pointer;
  padding: 2px;
  // -webkit-appearance: none;
  // appearance: none;
}

.search-lists {
  .modal-backdrop {
    display: none;
  }
}
.right-sidebar{
  &#search-sidebar{
    right: 5%;
    top: 5%;
    width: 90%;
    height: 90%;
    border-radius: 10px;
    .sidebar-wrap{
      margin: 0;
      padding: 15px 0;
    }
    .searchpanel{
      height: auto;
      .container{
        padding-left: 20px;
        padding-right: 20px;
        .product-tile-title{
          font-size: 12px;
          line-height: 1.5;
          min-height:38px;
        }
      }
      .close-icon{
        position: fixed;
        padding:5px;
        right: 5%;
        top: 5%;
        background:#fff;
        opacity: 1;
        border-radius: 0 10px 0 0;
        z-index: 1;
      }
    }
  }
}
</style>
